<% content_for :title, @occupation.name %>

<section class="bg-slate-800">
  <div class="max-w-screen-lg mx-auto p-4">
    <p class="text-stone-400 mt-8 mb-3">
      Occupation
      &middot;
      <small class="text-stone-600 text-xs px-2 py-1 rounded<%= greeness_bg(@occupation.green_overall_rating) %>">
        <%= @occupation.green_overall_rating %> greeness
      </small>
    </p>

    <h1 class="text-5xl text-white font-bold mb-6">
      <%= @occupation.name %>
    </h1>
    <p class="text-xl text-stone-300 leading-relaxed mb-5 w-full md:w-2/3">
      This analysis has been generated from <%= @occupation.num_job_ads %> job adverts.
    </p>
  </div>
</section>

<section class="max-w-prose mx-auto">
  <p class="my-8 text-lg">This occupation spends <strong><%= @occupation.green_timeshare.round(1) %>%</strong> of the time doing green tasks. A job advert for this occupation has on average <strong><%= @occupation.avg_num_skills.round(0) %></strong> skills asked for, of which <strong><%= (@occupation.prop_green_skills * 100).round(1) %>%</strong> are green skills.</p>

  <h2 class="mt-6 mb-2 font-bold text-xl">Green measures</h2>

  <div class="mb-3">
    <div class="flex gap-1 items-center w-full mb-1 md:w-1/3">
      Occupation:
      <svg xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" fill="#000" stroke-width="1.5" viewBox="0 0 24 24" color="#000000"><path stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="m8.587 8.236 2.598-5.232a.911.911 0 0 1 1.63 0l2.598 5.232 5.808.844a.902.902 0 0 1 .503 1.542l-4.202 4.07.992 5.75c.127.738-.653 1.3-1.32.952L12 18.678l-5.195 2.716c-.666.349-1.446-.214-1.319-.953l.992-5.75-4.202-4.07a.902.902 0 0 1 .503-1.54l5.808-.845Z"></path></svg>
      <svg xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" fill="<%= ['mid', 'high'].include?(@occupation.green_occupation_rating) ? '#000' : 'none' %>" stroke-width="1.5" viewBox="0 0 24 24" color="#000000"><path stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="m8.587 8.236 2.598-5.232a.911.911 0 0 1 1.63 0l2.598 5.232 5.808.844a.902.902 0 0 1 .503 1.542l-4.202 4.07.992 5.75c.127.738-.653 1.3-1.32.952L12 18.678l-5.195 2.716c-.666.349-1.446-.214-1.319-.953l.992-5.75-4.202-4.07a.902.902 0 0 1 .503-1.54l5.808-.845Z"></path></svg>
      <svg xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" fill="<%= ['high'].include?(@occupation.green_occupation_rating) ? '#000' : 'none' %>" stroke-width="1.5" viewBox="0 0 24 24" color="#000000"><path stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="m8.587 8.236 2.598-5.232a.911.911 0 0 1 1.63 0l2.598 5.232 5.808.844a.902.902 0 0 1 .503 1.542l-4.202 4.07.992 5.75c.127.738-.653 1.3-1.32.952L12 18.678l-5.195 2.716c-.666.349-1.446-.214-1.319-.953l.992-5.75-4.202-4.07a.902.902 0 0 1 .503-1.54l5.808-.845Z"></path></svg>
    </div>
    <p class="text-sm text-stone-700">
      When the values for the % time spent on green tasks per occupation are split equally into thirds, this occupations' value sits in the
      <strong>
        <%= rating_to_sentence_word(@occupation.green_occupation_rating) %>
      </strong>
      third.
    </p>
  </div>

  <div class="mb-3">
    <div class="flex gap-1 items-center w-full mb-1 md:w-1/3">
      Skills:
      <svg xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" fill="#000" stroke-width="1.5" viewBox="0 0 24 24" color="#000000"><path stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="m8.587 8.236 2.598-5.232a.911.911 0 0 1 1.63 0l2.598 5.232 5.808.844a.902.902 0 0 1 .503 1.542l-4.202 4.07.992 5.75c.127.738-.653 1.3-1.32.952L12 18.678l-5.195 2.716c-.666.349-1.446-.214-1.319-.953l.992-5.75-4.202-4.07a.902.902 0 0 1 .503-1.54l5.808-.845Z"></path></svg>
      <svg xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" fill="<%= ['mid', 'high'].include?(@occupation.green_skills_rating) ? '#000' : 'none' %>" stroke-width="1.5" viewBox="0 0 24 24" color="#000000"><path stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="m8.587 8.236 2.598-5.232a.911.911 0 0 1 1.63 0l2.598 5.232 5.808.844a.902.902 0 0 1 .503 1.542l-4.202 4.07.992 5.75c.127.738-.653 1.3-1.32.952L12 18.678l-5.195 2.716c-.666.349-1.446-.214-1.319-.953l.992-5.75-4.202-4.07a.902.902 0 0 1 .503-1.54l5.808-.845Z"></path></svg>
      <svg xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" fill="<%= ['high'].include?(@occupation.green_skills_rating) ? '#000' : 'none' %>" stroke-width="1.5" viewBox="0 0 24 24" color="#000000"><path stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="m8.587 8.236 2.598-5.232a.911.911 0 0 1 1.63 0l2.598 5.232 5.808.844a.902.902 0 0 1 .503 1.542l-4.202 4.07.992 5.75c.127.738-.653 1.3-1.32.952L12 18.678l-5.195 2.716c-.666.349-1.446-.214-1.319-.953l.992-5.75-4.202-4.07a.902.902 0 0 1 .503-1.54l5.808-.845Z"></path></svg>
    </div>
    <p class="text-sm text-stone-700">
      When the values for the average proportion of green skills per occupation are split equally into thirds, this occupations' value sits in the
      <strong>
        <%= rating_to_sentence_word(@occupation.green_skills_rating) %>
      </strong>
      third.
    </p>
  </div>

  <div class="mb-3">
    <div class="flex gap-1 items-center w-full mb-1 md:w-1/3">
      Industries:
      <svg xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" fill="#000" stroke-width="1.5" viewBox="0 0 24 24" color="#000000"><path stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="m8.587 8.236 2.598-5.232a.911.911 0 0 1 1.63 0l2.598 5.232 5.808.844a.902.902 0 0 1 .503 1.542l-4.202 4.07.992 5.75c.127.738-.653 1.3-1.32.952L12 18.678l-5.195 2.716c-.666.349-1.446-.214-1.319-.953l.992-5.75-4.202-4.07a.902.902 0 0 1 .503-1.54l5.808-.845Z"></path></svg>
      <svg xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" fill="<%= ['mid', 'high'].include?(@occupation.green_industry_rating) ? '#000' : 'none' %>" stroke-width="1.5" viewBox="0 0 24 24" color="#000000"><path stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="m8.587 8.236 2.598-5.232a.911.911 0 0 1 1.63 0l2.598 5.232 5.808.844a.902.902 0 0 1 .503 1.542l-4.202 4.07.992 5.75c.127.738-.653 1.3-1.32.952L12 18.678l-5.195 2.716c-.666.349-1.446-.214-1.319-.953l.992-5.75-4.202-4.07a.902.902 0 0 1 .503-1.54l5.808-.845Z"></path></svg>
      <svg xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" fill="<%= ['high'].include?(@occupation.green_industry_rating) ? '#000' : 'none' %>" stroke-width="1.5" viewBox="0 0 24 24" color="#000000"><path stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="m8.587 8.236 2.598-5.232a.911.911 0 0 1 1.63 0l2.598 5.232 5.808.844a.902.902 0 0 1 .503 1.542l-4.202 4.07.992 5.75c.127.738-.653 1.3-1.32.952L12 18.678l-5.195 2.716c-.666.349-1.446-.214-1.319-.953l.992-5.75-4.202-4.07a.902.902 0 0 1 .503-1.54l5.808-.845Z"></path></svg>
    </div>
    <p class="text-sm text-stone-700">
      When the values for the average per unit GHG emissions for industries this occupation sit in are split equally into thirds, this occupations' value sits in the
      <strong>
        <%= rating_to_sentence_word(@occupation.green_industry_rating) %>
      </strong>
      third.
    </p>
  </div>

  <h2 class="mt-6 mb-2 font-bold text-xl">Top green skills for this occupation</h2>
  <% if @occupation.top_green_skills.any? %>
    <%- @occupation.top_green_skills.each do |s| %>
      <div class="px-3 p-2 my-2 bg-stone-200">
        <p><%= s["skill_name"].capitalize %></p>
        <small class="text-stone-700">
          Found in <%= s["num_job_ads"] %> job ads (<%= (s["prop_job_ads"] * 100).round(1) %>%)
        </small>
      </div>
    <% end %>
  <% else %>
    <p>None</p>
  <% end %>

  <h2 class="mt-6 mb-2 font-bold text-xl">Top non-green skills for this occupation</h2>
  <% if @occupation.top_not_green_skills.any? %>
    <%- @occupation.top_not_green_skills.each do |s| %>
      <div class="px-3 p-2 my-2 bg-stone-200">
        <p><%= s["skill_name"].capitalize %></p>
        <small class="text-stone-700">
          Found in <%= s["num_job_ads"] %> job ads (<%= (s["prop_job_ads"] * 100).round(1) %>%)
        </small>
      </div>
    <% end %>
  <% else %>
    <p>None</p>
  <% end %>

  <h2 class="mt-6 mb-2 font-bold text-xl">Similar occupations</h2>
  <details class="text-sm mb-2 text-stone-700">
    <summary><strong>About this feature</strong></summary>
    Please note the following occupations are examples only and not necessarily similar ones. If you would find this feature useful then please
    <%= link_to 'let us know', 'mailto:info@nesta.org.uk?subject=Feature Request - Green Jobs Tool' %>
    .
  </details>


  <%- Occupation.all.sample(3).each do |o| %>
    <%= render 'card', o: o %>
  <% end %>

  <h2 class="mt-6 mb-2 font-bold text-xl">Industries</h2>
  <p class="mb-2">The top 5 industries which job ads for this occupation are found in.</p>
  <%- @occupation.segments.each do |s| %>
    <div class="px-3 p-2 my-2 bg-stone-200">
      <p><%= link_to s.industry.name, occupations_path('q[industries_id_in][]' => s.industry_id) %></p>
      <small class="text-stone-700">
        Found in <%= s.count %> job ads (<%= (s.percentage * 100).round(1) %>%)
      </small>
    </div>
  <% end %>

  <div class="my-8 p-4 bg-slate-200">
    <h3 class="text-lg font-bold mb-2">
      About this analysis
    </h3>
    <p>
      This analysis has been compiled by measuring the greenness of online job adverts. You can read more about the
      <%= link_to 'methadology', 'https://github.com/nestauk/dap_prinz_green_jobs/tree/rerun_analysis/dap_prinz_green_jobs/pipeline/green_measures/industries/sic_mapper#%EF%B8%8F-methodology', target: '_blank' %>
      here.
    </p>
  </div>
</section>
