<% content_for :title, @occupation.name %>

<section class="bg-slate-800">
  <div class="max-w-screen-lg mx-auto p-4">
    <div class="text-stone-400 mt-6 mb-3">
      Occupation
    </div>

    <h1 class="text-5xl text-white font-bold mb-6">
      <%= @occupation.name %>
    </h1>
    <p class="text-xl text-stone-300 leading-relaxed mb-5">
      <%= @occupation.description %>
    </p>
  </div>
</section>

<section class="max-w-screen-lg mx-auto p-4 mt-6 flex flex-wrap">
  <aside class="w-full md:w-1/3 md:mb-0 mb-6">
    <h2 class="mb-2 font-bold text-xl">Green measures</h2>

    <div class="mb-3">
      <div class="flex gap-1 items-center w-full mb-1">
        No of green skills:
        <%= render partial: 'skills_rating',locals: { o: @occupation } %>
      </div>
      <p class="text-sm text-stone-700">
        This is based on the average proportion of green skills for this occupation. This is the % of skills out of all the skills associated with the occupation that are "green", meaning that they were found in the <%= link_to 'ESCO Green Skill list', 'https://esco.ec.europa.eu/en/about-esco/publications/publication/green-skills-and-knowledge-concepts-labelling-esco', class: 'link', target: '_blank', rel: 'noopener' %>.
      </p>
    </div>

    <div class="mb-3">
      <div class="flex gap-1 items-center w-full mb-1">
        Industry emissions:
        <%= render partial: 'industry_rating',locals: { o: @occupation } %>
      </div>
      <p class="text-sm text-stone-700">
        This rating is based on average per unit GHG emissions for industries this occupation sits in (using <%= link_to 'ONS 2022 data on atmospheric emissions', 'https://www.ons.gov.uk/economy/environmentalaccounts/datasets/ukenvironmentalaccountsatmosphericemissionsgreenhousegasemissionsintensitybyeconomicsectorunitedkingdom/current', class: 'link', target: '_blank', rel: 'noopener' %>).
      </p>
    </div>

    <div class="mb-3">
      <div class="flex gap-1 items-center w-full mb-1">
        Time on green tasks:
        <%= render partial: 'occupation_rating',locals: { o: @occupation } %>
      </div>
      <p class="text-sm text-stone-700">
        This rating is based on % time spent on green tasks for this occupation, calculated using estimates of the fraction of overall time spent doing green tasks (<%= link_to 'found on the ONS based on task-level data from the O*NET database in the US', 'https://www.ons.gov.uk/economy/environmentalaccounts/articles/researchintogreenjobstimespentdoinggreentasksuk/1997to2019', class: 'link', target: '_blank', rel: 'noopener' %>).
      </p>
    </div>
  </aside>

  <article class="md:pl-8 w-full md:w-2/3">
    <p class="mb-4 text-lg">Based on analysing <strong><%= @occupation.num_job_ads %></strong> job ads this job spends <strong><%= @occupation.green_timeshare.round(1) %>%</strong> of the time doing green tasks. A job advert for this occupation has on average <strong><%= @occupation.avg_num_skills.round(0) %></strong> skills asked for, of which <strong><%= (@occupation.prop_green_skills * 100).round(1) %>%</strong> are green skills. The pay band for this job is between <strong><%= number_to_currency(@occupation.median_min_annualised_salary, unit: "£", precision: 0) %> - <%= number_to_currency(@occupation.median_max_annualised_salary, unit: "£", precision: 0) %></strong>.</p>

    <h2 class="mt-6 font-bold text-xl">Top regions</h2>
    <p class="my-2">At the point of upload, job adverts are tagged with a specific location. These locations are standardised to ITL 2 (International Territory Levels) codes. For each ITL region, we divide the proportion of job adverts for an occupation by the proportion for all occupations - this gives us a measure of which regions have proportionally more or less job adverts for each occupation - we call this the "location quotient". We display the ITL regions with the highest location quotients for this occupation.</p>
    <%- @occupation.ordered_regions.limit(5).each do |l| %>
      <div class="px-3 p-2 my-2 bg-stone-200">
        <%= l.name %>
      </div>
    <% end %>

    <h2 class="mt-6 font-bold text-xl">Top green skills for this occupation</h2>
    <p class="my-2">For each job advert we extract the green skills it asks for. We display the 5 most commonly asked for green skills for this occupation.</p>
    <% if @occupation.top_green_skills.any? %>
      <%- @occupation.top_green_skills.each do |s| %>
        <div class="px-3 p-2 my-2 bg-stone-200">
          <p><%= s["skill_name"].capitalize %></p>
          <small class="text-stone-700">
            Found in <%= s["num_job_ads"] %> job ads (<%= (s["prop_job_ads"] * 100).round(1) %>%)
          </small>
        </div>
      <% end %>
    <% else %>
      <p>None</p>
    <% end %>

    <h2 class="mt-6 mb-2 font-bold text-xl">Top skills for this occupation</h2>
    <p class="my-2">For each job advert we extract the skills it asks for. We display the 5 most commonly asked for skills (green or not) for this occupation.</p>
    <% if @occupation.top_not_green_skills.any? %>
      <%- @occupation.top_not_green_skills.each do |s| %>
        <div class="px-3 p-2 my-2 bg-stone-200">
          <p><%= s["skill_name"].capitalize %></p>
          <small class="text-stone-700">
            Found in <%= s["num_job_ads"] %> job ads (<%= (s["prop_job_ads"] * 100).round(1) %>%)
          </small>
        </div>
      <% end %>
    <% else %>
      <p>None</p>
    <% end %>

    <h2 class="mt-6 font-bold text-xl">Industries</h2>
    <p class="my-2">We extract industry information from job adverts using the way the company is described in the advert. We display the most common industries job adverts in this occupation are linked to.</p>
    <%- @occupation.segments.limit(5).each do |s| %>
      <div class="px-3 p-2 my-2 bg-stone-200">
        <p><%= s.industry.name %></p>
        <small class="text-stone-700">
          Found in <%= s.count %> job ads (<%= (s.percentage * 100).round(1) %>%)
        </small>
      </div>
    <% end %>

    <h2 class="mt-6 mb-1 font-bold text-xl">Similar occupations</h2>
    <p class="my-2">Since we extract skills information from each job advert, we can build a picture of the commonly asked for skills for each occupation. This allows us to compare these skill profiles across occupations and therefore show the most similar occupations based on skills asked for.</p>
    <p class="text-sm mb-3 text-stone-700">
      Please note the following occupations are examples only and not necessarily similar ones. If you would find this feature useful then please
      <%= link_to 'let us know', 'mailto:info@nesta.org.uk?subject=Feature Request - Green Jobs Tool' %>.
    </p>

    <%- Occupation.all.sample(3).each do |o| %>
      <%= render 'card', o: o %>
    <% end %>

    <p class="my-8">
      <strong>Download results:</strong>
      <%= link_to 'JSON', occupation_path(@occupation, format: :json), download: 'green_jobs_data.json', class: 'text-white bg-lime-700 px-2 py-1 rounded no-underline hover:bg-lime-600' %>
      <%= link_to 'CSV', occupation_path(@occupation, format: :csv), download: 'green_jobs_data.csv', class: 'text-white bg-lime-700 px-2 py-1 rounded no-underline hover:bg-lime-600' %>
    </p>

    <div class="my-8 p-4 bg-slate-200">
      <h3 class="text-lg font-bold mb-2">
        About this analysis
      </h3>
      <p>
        This analysis has been compiled by measuring the greenness of online job adverts. You can read more about the
        <%= link_to 'methodology', 'https://github.com/nestauk/dap_prinz_green_jobs/tree/rerun_analysis/dap_prinz_green_jobs/pipeline/green_measures/industries/sic_mapper#%EF%B8%8F-methodology', target: '_blank', rel: 'noopener' %>
        here.
      </p>
    </div>
  </article>
</section>

<section class="max-w-prose mx-auto px-4">

</section>
