
<section class="bg-slate-800">
  <div class="max-w-screen-lg mx-auto p-4">
    <h1 class="text-5xl text-white font-bold my-8">
      Top green jobs
    </h1>
    <p class="text-xl text-stone-300 leading-relaxed mb-5 w-full md:w-2/3">
      Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nulla vitae elit libero, a pharetra augue.
    </p>
  </div>
</section>

<section class="max-w-screen-lg mx-auto p-4">
  <%# <img src="https://placehold.co/650x350/e5e7eb/31343C?text=Chart" alt="placeholder"> %>

  <select data-controller="choices" data-action="choices#industry">
    <option value=""></option>
    <%- Industry.all.each do |i| %>
      <% if i.id.to_s == params[:industry] %>
        <option value=<%= i.id %> selected><%= i.name %></option>
      <% else %>
        <option value=<%= i.id %>><%= i.name %></option>
      <% end %>
    <% end %>
  </select>

  <%- @occupations.each do |o| %>
    <div class="mb-6">
      <div class="bg-stone-300 p-4">

        <p class="mb-2">
          <small class="text-stone-600 text-sm px-2 py-1 rounded<%= greeness_bg(o.green_overall_rating) %>">
            <%= o.green_overall_rating %> greeness
          </small>
        </p>

        <h2 class="text-blue-700 text-xl font-bold mb-2"><%= link_to o.name, o %></h2>

        <p class="mb-4"><strong><%= o.green_timeshare.round(1) %>%</strong> of the time doing green tasks. A job advert for this occupation has on average <strong><%= o.avg_num_skills.round(0) %></strong> skills asked for, of which <strong><%= (o.prop_green_skills * 100).round(1) %>%</strong> are green skills.</p>

        <p class="mb-1 text-sm tracking-widest font-medium uppercase text-stone-600">Green measures</p>

        <div class="flex flex-wrap text-sm font-semibold">
          <div class="flex gap-1 items-center w-full mb-1 md:w-1/3">
            Occupation:
            <svg xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" fill="#000" stroke-width="1.5" viewBox="0 0 24 24" color="#000000"><path stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="m8.587 8.236 2.598-5.232a.911.911 0 0 1 1.63 0l2.598 5.232 5.808.844a.902.902 0 0 1 .503 1.542l-4.202 4.07.992 5.75c.127.738-.653 1.3-1.32.952L12 18.678l-5.195 2.716c-.666.349-1.446-.214-1.319-.953l.992-5.75-4.202-4.07a.902.902 0 0 1 .503-1.54l5.808-.845Z"></path></svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" fill="<%= ['mid', 'high'].include?(o.green_occupation_rating) ? '#000' : 'none' %>" stroke-width="1.5" viewBox="0 0 24 24" color="#000000"><path stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="m8.587 8.236 2.598-5.232a.911.911 0 0 1 1.63 0l2.598 5.232 5.808.844a.902.902 0 0 1 .503 1.542l-4.202 4.07.992 5.75c.127.738-.653 1.3-1.32.952L12 18.678l-5.195 2.716c-.666.349-1.446-.214-1.319-.953l.992-5.75-4.202-4.07a.902.902 0 0 1 .503-1.54l5.808-.845Z"></path></svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" fill="<%= ['high'].include?(o.green_occupation_rating) ? '#000' : 'none' %>" stroke-width="1.5" viewBox="0 0 24 24" color="#000000"><path stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="m8.587 8.236 2.598-5.232a.911.911 0 0 1 1.63 0l2.598 5.232 5.808.844a.902.902 0 0 1 .503 1.542l-4.202 4.07.992 5.75c.127.738-.653 1.3-1.32.952L12 18.678l-5.195 2.716c-.666.349-1.446-.214-1.319-.953l.992-5.75-4.202-4.07a.902.902 0 0 1 .503-1.54l5.808-.845Z"></path></svg>
          </div>
          <div class="flex gap-1 items-center w-full mb-1 md:w-1/3">
            Skills:
            <svg class="inline-block" xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" fill="#000" stroke-width="1.5" viewBox="0 0 24 24" color="#000000"><path stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="m8.587 8.236 2.598-5.232a.911.911 0 0 1 1.63 0l2.598 5.232 5.808.844a.902.902 0 0 1 .503 1.542l-4.202 4.07.992 5.75c.127.738-.653 1.3-1.32.952L12 18.678l-5.195 2.716c-.666.349-1.446-.214-1.319-.953l.992-5.75-4.202-4.07a.902.902 0 0 1 .503-1.54l5.808-.845Z"></path></svg>
            <svg class="inline-block" xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" fill="<%= ['mid', 'high'].include?(o.green_skills_rating) ? '#000' : 'none' %>" stroke-width="1.5" viewBox="0 0 24 24" color="#000000"><path stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="m8.587 8.236 2.598-5.232a.911.911 0 0 1 1.63 0l2.598 5.232 5.808.844a.902.902 0 0 1 .503 1.542l-4.202 4.07.992 5.75c.127.738-.653 1.3-1.32.952L12 18.678l-5.195 2.716c-.666.349-1.446-.214-1.319-.953l.992-5.75-4.202-4.07a.902.902 0 0 1 .503-1.54l5.808-.845Z"></path></svg>
            <svg class="inline-block" xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" fill="<%= ['high'].include?(o.green_skills_rating) ? '#000' : 'none' %>" stroke-width="1.5" viewBox="0 0 24 24" color="#000000"><path stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="m8.587 8.236 2.598-5.232a.911.911 0 0 1 1.63 0l2.598 5.232 5.808.844a.902.902 0 0 1 .503 1.542l-4.202 4.07.992 5.75c.127.738-.653 1.3-1.32.952L12 18.678l-5.195 2.716c-.666.349-1.446-.214-1.319-.953l.992-5.75-4.202-4.07a.902.902 0 0 1 .503-1.54l5.808-.845Z"></path></svg>
          </div>
          <div class="flex gap-1 items-center w-full mb-1 md:w-1/3">
            Industry:
            <svg class="inline-block" xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" fill="#000" stroke-width="1.5" viewBox="0 0 24 24" color="#000000"><path stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="m8.587 8.236 2.598-5.232a.911.911 0 0 1 1.63 0l2.598 5.232 5.808.844a.902.902 0 0 1 .503 1.542l-4.202 4.07.992 5.75c.127.738-.653 1.3-1.32.952L12 18.678l-5.195 2.716c-.666.349-1.446-.214-1.319-.953l.992-5.75-4.202-4.07a.902.902 0 0 1 .503-1.54l5.808-.845Z"></path></svg>
            <svg class="inline-block" xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" fill="<%= ['mid', 'high'].include?(o.green_industry_rating) ? '#000' : 'none' %>" stroke-width="1.5" viewBox="0 0 24 24" color="#000000"><path stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="m8.587 8.236 2.598-5.232a.911.911 0 0 1 1.63 0l2.598 5.232 5.808.844a.902.902 0 0 1 .503 1.542l-4.202 4.07.992 5.75c.127.738-.653 1.3-1.32.952L12 18.678l-5.195 2.716c-.666.349-1.446-.214-1.319-.953l.992-5.75-4.202-4.07a.902.902 0 0 1 .503-1.54l5.808-.845Z"></path></svg>
            <svg class="inline-block" xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" fill="<%= ['high'].include?(o.green_industry_rating) ? '#000' : 'none' %>" stroke-width="1.5" viewBox="0 0 24 24" color="#000000"><path stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="m8.587 8.236 2.598-5.232a.911.911 0 0 1 1.63 0l2.598 5.232 5.808.844a.902.902 0 0 1 .503 1.542l-4.202 4.07.992 5.75c.127.738-.653 1.3-1.32.952L12 18.678l-5.195 2.716c-.666.349-1.446-.214-1.319-.953l.992-5.75-4.202-4.07a.902.902 0 0 1 .503-1.54l5.808-.845Z"></path></svg>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</section>
