<% content_for :title, 'Compare green jobs' %>

<%# TODO: file sizes %>

<section class="bg-slate-800">
  <div class="max-w-screen-lg mx-auto p-4">
    <h1 class="text-5xl text-white font-bold my-8">
      Compare
    </h1>
    <p class="text-xl text-stone-300 leading-relaxed mb-5 w-full md:w-2/3">
      See how green jobs compare.
    </p>
  </div>
</section>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vega@5"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vega-lite@5.15.1"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>

<section class="max-w-screen-lg mx-auto p-4 my-8">
  <h2 class="text-3xl font-bold mb-8">Measures at a glance</h2>

  <div class="flex flex-wrap overflow-hidden mb-10">
    <div class="w-full md:w-4/12 mb-4 pr-0 md:pr-8">
      Explore where an occupation sits in the full distribution of the 3 greenness measures for occupation, industry and skills.
    </div>
    <div class="w-full md:w-8/12">
      <%= render 'chart1' %>
    </div>
  </div>

  <div class="flex flex-wrap overflow-hidden mb-10">
    <div class="w-full md:w-4/12 mb-4 pr-0 md:pr-8">
      Select an industry measures and compare. Hover over an occupation point to learn more about them.
    </div>
    <div class="w-full md:w-8/12">
      <%= render 'chart2' %>
    </div>
  </div>

  <div class="flex flex-wrap overflow-hidden">
    <div class="w-full md:w-4/12 mb-4 pr-0 md:pr-8">
      Hover over an industry point to learn more about them.
    </div>
    <div class="w-full md:w-8/12">
      <%= render 'chart3' %>
    </div>
  </div>

</section>

<section class="max-w-screen-lg mx-auto p-4 my-8">
  <h2 class="text-3xl font-bold mb-8">The regional picture</h2>
  <div class="flex flex-wrap overflow-hidden">
    <div class="w-full md:w-4/12 mb-4 pr-0 md:pr-8">
      Average relative greenness measures per region. Select a greenness measure and see which regions have the highest values for it.
    </div>
    <div class="w-full md:w-8/12">
      <%= render 'chart4' %>
    </div>
  </div>
</section>

<section class="max-w-screen-lg mx-auto p-4 my-8">
  <h2 class="text-3xl font-bold mb-8">Digging deeper into skills</h2>
  <div class="flex flex-wrap overflow-hidden">
    <div class="w-full md:w-4/12 mb-4 pr-0 md:pr-8">
      <p class="mb-4">Not all skills in green occupations are considered green.</p>
      <p>Explore commonly requested non-green skills in each occupation group based on overall greenness.</p>
    </div>
    <div class="w-full md:w-8/12">
      <%= render 'chart5' %>
    </div>
  </div>
</section>
