<% content_for :title, 'Compare green jobs' %>

<section class="max-w-screen-lg mx-auto p-4 mb-8">
  <%= search_form_for @q, url: compare_path do |f| %>
    <div class="flex my-2">
      <div class="md:w-1/2">
        <%= f.label :industries_id_in, 'Industries' %>
        <%= f.collection_select :industries_id_in, Industry.order(:name), :id, :name, { include_blank: true }, { multiple: true, class: 'mb-4', data: { controller: "choices" } } %>
      </div>

      <div class="w-1/2">
        <%= f.label :regions_id_in, 'Regions' %>
        <%= f.collection_select :regions_id_in, Region.order(:name), :id, :name, { include_blank: true }, { multiple: true, class: 'mb-4', data: { controller: "choices" } } %>
      </div>
    </div>

    <%= f.button 'Filter', type: 'submit', class: "text-white bg-blue-800 py-1 px-2 mb-8" %>
    <%= link_to 'Reset', compare_path, class: 'ml-1 py-1 px-2 inline-block no-underline bg-blue-200' %>
  <% end %>

  <div class="flex flex-wrap mb-6">
    <div class="w-full md:w-1/3 mb-6">
      <h2 class="text-lg font-bold mb-2">Number of jobs by greenness</h2>
      <%= pie_chart @occupations.limit(5).group(:green_overall_rating).count %>
    </div>
    <div class="w-full md:w-2/3 md:pl-8 mb-6">
      <h2 class="text-lg font-bold mb-2">Top of green jobs</h2>
      <%= bar_chart @occupations.order(prop_green_skills: :desc, average_ind_perunit_ghg: :asc).limit(10).pluck(:name, :prop_green_skills).map { |i| [i[0], i[1].round(2)] } %>
    </div>
  </div>

  <%# <div class="flex"> %>
    <%# <div class="w-1/3 mb-6"> %>
      <%# <h2 class="text-lg font-bold mb-2">Title</h2> %>
      <%#= scatter_chart @occupations.pluck(:prop_green_skills, :average_ind_perunit_ghg), xtitle: "% of green skills", ytitle: "Industry GHG emissions" %>
    <%# </div> %>
    <%# <div class="w-1/3 mb-6"> %>
      <%# <h2 class="text-lg font-bold mb-2">Title</h2> %>
      <%#= scatter_chart @occupations.pluck(:prop_green_skills, :green_timeshare), xtitle: "% of green skills", ytitle: "Time spent on green tasks" %>
    <%# </div> %>
    <%# <div class="w-1/3 mb-6"> %>
      <%# <h2 class="text-lg font-bold mb-2">Title</h2> %>
      <%#= scatter_chart @occupations.pluck(:green_timeshare, :average_ind_perunit_ghg), xtitle: "Time spent on green tasks", ytitle: "Industry GHG emissions" %>
    <%# </div> %>
  <%# </div> %>

  <div id="vis"></div>
</section>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vega@5"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vega-lite@5.14.1"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
<script>
  (function(vegaEmbed) {
    var spec = {
      config: { view: { continuousHeight: 300 } },
      vconcat: [
        {
          hconcat: [
            {
              mark: { type: "circle", size: 60 },
              encoding: {
                color: {
                  field: "occ_green_non_green",
                  scale: {
                    domain: ["Non-green", "Green"],
                    range: ["red", "green"],
                  },
                  title: "Green / Not Green",
                  type: "nominal",
                },
                tooltip: [
                  { field: "occupation", type: "nominal" },
                  { field: "green_skills_count_mean", type: "quantitative" },
                  { field: "green_skill_percentage_mean", type: "quantitative" },
                ],
                x: {
                  field: "green_skill_percentage_mean",
                  scale: { zero: false },
                  title: "Green Skill %",
                  type: "quantitative",
                },
                y: {
                  field: "industry_ghg_emissions_mean",
                  scale: { zero: false },
                  title: "Industry GHG Emissions",
                  type: "quantitative",
                },
              },
            },
            {
              mark: { type: "circle", size: 60 },
              encoding: {
                color: {
                  field: "occ_green_non_green",
                  scale: {
                    domain: ["Non-green", "Green"],
                    range: ["red", "green"],
                  },
                  title: "Green / Not Green",
                  type: "nominal",
                },
                tooltip: [
                  { field: "occupation", type: "nominal" },
                  { field: "green_skills_count_mean", type: "quantitative" },
                  {
                    field: "occupation_green_timeshare_mean",
                    type: "quantitative",
                  },
                ],
                x: {
                  field: "green_skill_percentage_mean",
                  scale: { zero: false },
                  title: "Green Skill %",
                  type: "quantitative",
                },
                y: {
                  field: "occupation_green_timeshare_mean",
                  scale: { zero: false },
                  title: "Occupational Green Timeshare",
                  type: "quantitative",
                },
              },
              title: "",
            },
            {
              mark: { type: "circle", size: 60 },
              encoding: {
                color: {
                  field: "occ_green_non_green",
                  scale: {
                    domain: ["Non-green", "Green"],
                    range: ["red", "green"],
                  },
                  title: "Green / Not Green",
                  type: "nominal",
                },
                tooltip: [
                  { field: "occupation", type: "nominal" },
                  { field: "occ_green_non_green", type: "nominal" },
                  { field: "green_skills_count_mean", type: "quantitative" },
                  { field: "green_skill_percentage_mean", type: "quantitative" },
                ],
                x: {
                  field: "occupation_green_timeshare_mean",
                  scale: { zero: false },
                  title: "Time Spent on Green Tasks",
                  type: "quantitative",
                },
                y: {
                  field: "industry_ghg_emissions_mean",
                  scale: { zero: false },
                  title: "Industry GHG Emissions",
                  type: "quantitative",
                },
              },
            },
          ],
          data: { name: "data-e778af7dd6ad3852dad8c76c38e4ae6a" },
          title: {
            text: ["Occupational Greenness"],
            subtitle: [
              "The graph on the left compares average GHG emissions vs. % of green skills per occupation.",
              "The graph on the right compares average time spent on green tasks vs. % of green skills per occupation.",
              "The last graph compares average GHG emissions vs. average time spent on green tasks per occupation.",
            ],
            color: "black",
            subtitleColor: "black",
          },
        },
      ],
      $schema: "https://vega.github.io/schema/vega-lite/v5.14.1.json",
      datasets: {
        "data-e778af7dd6ad3852dad8c76c38e4ae6a": [
          {
            occupation: "Actuaries, economists and statisticians",
            industry_ghg_emissions_mean: 2790.7119402985077,
            industry_carbon_emissions_employee_mean: 17438.254545454543,
            occupation_green_timeshare_mean: 12.503921568627453,
            green_skills_count_mean: 0.5588235294117647,
            green_skill_percentage_mean: 0.02813446732629291,
            occ_green_non_green: "Green",
            occ_green_category: "Green New & Emerging",
          },
          {
            occupation: "Advertising accounts managers and creative directors",
            industry_ghg_emissions_mean: 7280.964473684211,
            industry_carbon_emissions_employee_mean: 22387.90975609756,
            occupation_green_timeshare_mean: 0.0,
            green_skills_count_mean: 0.4368932038834951,
            green_skill_percentage_mean: 0.023015115931108453,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "Agricultural and fishing trades n.e.c.",
            industry_ghg_emissions_mean: 5654.200000000001,
            industry_carbon_emissions_employee_mean: 35305.21333333333,
            occupation_green_timeshare_mean: 12.820689655172412,
            green_skills_count_mean: 1.5862068965517242,
            green_skill_percentage_mean: 0.0910075473132738,
            occ_green_non_green: "Green",
            occ_green_category: "Green Increased Demand",
          },
          {
            occupation: "Architects",
            industry_ghg_emissions_mean: 1393.7879999999998,
            industry_carbon_emissions_employee_mean: 10320.853333333333,
            occupation_green_timeshare_mean: 23.400000000000002,
            green_skills_count_mean: 0.8305084745762712,
            green_skill_percentage_mean: 0.04826054132591436,
            occ_green_non_green: "Green",
            occ_green_category: "Green Enhanced Skills",
          },
          {
            occupation: "Arts officers, producers and directors",
            industry_ghg_emissions_mean: 2217.1363636363635,
            industry_carbon_emissions_employee_mean: 19892.313888888886,
            occupation_green_timeshare_mean: 4.5,
            green_skills_count_mean: 0.4230769230769231,
            green_skill_percentage_mean: 0.04345864052798883,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "Book-keepers, payroll managers and wages clerks",
            industry_ghg_emissions_mean: 3094.2447598253275,
            industry_carbon_emissions_employee_mean: 18982.196041666666,
            occupation_green_timeshare_mean: 0.0,
            green_skills_count_mean: 0.29591836734693877,
            green_skill_percentage_mean: 0.0158621550186718,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "Building and civil engineering technicians ",
            industry_ghg_emissions_mean: 3139.3131578947373,
            industry_carbon_emissions_employee_mean: 25184.8525,
            occupation_green_timeshare_mean: 18.8,
            green_skills_count_mean: 0.34615384615384615,
            green_skill_percentage_mean: 0.02168901907931387,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "Business and financial project management professionals",
            industry_ghg_emissions_mean: 3238.011010830325,
            industry_carbon_emissions_employee_mean: 21574.97963576159,
            occupation_green_timeshare_mean: 22.585624211853723,
            green_skills_count_mean: 0.6279949558638083,
            green_skill_percentage_mean: 0.03435000069570114,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "Business and related research professionals",
            industry_ghg_emissions_mean: 3063.9628205128206,
            industry_carbon_emissions_employee_mean: 13235.008536585365,
            occupation_green_timeshare_mean: 7.427551020408164,
            green_skills_count_mean: 0.3673469387755102,
            green_skill_percentage_mean: 0.017016215514088752,
            occ_green_non_green: "Green",
            occ_green_category: "Green New & Emerging",
          },
          {
            occupation: "Business associate professionals n.e.c.",
            industry_ghg_emissions_mean: 2032.3245762711865,
            industry_carbon_emissions_employee_mean: 21569.13358778626,
            occupation_green_timeshare_mean: 9.8,
            green_skills_count_mean: 0.4827586206896552,
            green_skill_percentage_mean: 0.030081150478298884,
            occ_green_non_green: "Green",
            occ_green_category: "Green New & Emerging",
          },
          {
            occupation: "Business sales executives",
            industry_ghg_emissions_mean: 10389.998245614035,
            industry_carbon_emissions_employee_mean: 36816.39872611465,
            occupation_green_timeshare_mean: 18.8,
            green_skills_count_mean: 0.24468085106382978,
            green_skill_percentage_mean: 0.0181745622822299,
            occ_green_non_green: "Green",
            occ_green_category: "Green Enhanced Skills",
          },
          {
            occupation:
              "Business, research and administrative professionals n.e.c.",
            industry_ghg_emissions_mean: 4134.536923076924,
            industry_carbon_emissions_employee_mean: 20229.250666666667,
            occupation_green_timeshare_mean: 19.91639344262295,
            green_skills_count_mean: 0.6721311475409836,
            green_skill_percentage_mean: 0.03475396175242896,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "Buyers and procurement officers",
            industry_ghg_emissions_mean: 4860.931976744187,
            industry_carbon_emissions_employee_mean: 27302.297872340427,
            occupation_green_timeshare_mean: 10.8,
            green_skills_count_mean: 0.39669421487603307,
            green_skill_percentage_mean: 0.022721663079336263,
            occ_green_non_green: "Green",
            occ_green_category: "Green Enhanced Skills",
          },
          {
            occupation: "CAD, drawing and architectural technicians",
            industry_ghg_emissions_mean: 4357.274561403508,
            industry_carbon_emissions_employee_mean: 23110.28031496063,
            occupation_green_timeshare_mean: 8.545454545454545,
            green_skills_count_mean: 0.3916083916083916,
            green_skill_percentage_mean: 0.031116061374965993,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "Call and contact centre occupations",
            industry_ghg_emissions_mean: 3214.0055555555555,
            industry_carbon_emissions_employee_mean: 22389.366666666665,
            occupation_green_timeshare_mean: 0.0,
            green_skills_count_mean: 0.33962264150943394,
            green_skill_percentage_mean: 0.014240162170383382,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "Catering and bar managers",
            industry_ghg_emissions_mean: 5809.829411764706,
            industry_carbon_emissions_employee_mean: 23249.779245283018,
            occupation_green_timeshare_mean: 0.0,
            green_skills_count_mean: 0.7538461538461538,
            green_skill_percentage_mean: 0.043435565933381146,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "Chartered and certified accountants",
            industry_ghg_emissions_mean: 3044.784090909091,
            industry_carbon_emissions_employee_mean: 15154.587050359713,
            occupation_green_timeshare_mean: 0.0,
            green_skills_count_mean: 0.35359116022099446,
            green_skill_percentage_mean: 0.015683195411616193,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation:
              "Chartered architectural technologists, planning officers and consultants",
            industry_ghg_emissions_mean: 1535.317543859649,
            industry_carbon_emissions_employee_mean: 8957.784426229508,
            occupation_green_timeshare_mean: 27.22720588235294,
            green_skills_count_mean: 0.9852941176470589,
            green_skill_percentage_mean: 0.05631730344235936,
            occ_green_non_green: "Green",
            occ_green_category: "Green Enhanced Skills",
          },
          {
            occupation: "Chartered surveyors",
            industry_ghg_emissions_mean: 2740.9277108433735,
            industry_carbon_emissions_employee_mean: 10594.992571428571,
            occupation_green_timeshare_mean: 0.365,
            green_skills_count_mean: 0.8318181818181818,
            green_skill_percentage_mean: 0.05556833621378356,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "Chefs",
            industry_ghg_emissions_mean: 16470.204854368934,
            industry_carbon_emissions_employee_mean: 24148.321818181816,
            occupation_green_timeshare_mean: 0.0,
            green_skills_count_mean: 0.6133333333333333,
            green_skill_percentage_mean: 0.05491806835145791,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "Chemical scientists",
            industry_ghg_emissions_mean: 5193.6255813953485,
            industry_carbon_emissions_employee_mean: 61255.250943396226,
            occupation_green_timeshare_mean: 0.084375,
            green_skills_count_mean: 0.5625,
            green_skill_percentage_mean: 0.0362612536868153,
            occ_green_non_green: "Green",
            occ_green_category: "Green Increased Demand",
          },
          {
            occupation: "Chief executives and senior officials",
            industry_ghg_emissions_mean: 5067.923423423424,
            industry_carbon_emissions_employee_mean: 13926.812068965517,
            occupation_green_timeshare_mean: 39.0,
            green_skills_count_mean: 0.5033112582781457,
            green_skill_percentage_mean: 0.03563418595182212,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "Civil engineers",
            industry_ghg_emissions_mean: 2960.8765957446813,
            industry_carbon_emissions_employee_mean: 17992.485384615386,
            occupation_green_timeshare_mean: 22.5,
            green_skills_count_mean: 1.4184549356223175,
            green_skill_percentage_mean: 0.11263681621601797,
            occ_green_non_green: "Green",
            occ_green_category: "Green Enhanced Skills",
          },
          {
            occupation: "Cleaners and domestics",
            industry_ghg_emissions_mean: 1878.7114285714283,
            industry_carbon_emissions_employee_mean: 12056.119444444445,
            occupation_green_timeshare_mean: 0.0,
            green_skills_count_mean: 1.2321428571428572,
            green_skill_percentage_mean: 0.11429030922724835,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "Collector salespersons and credit agents",
            industry_ghg_emissions_mean: 1487.6032608695652,
            industry_carbon_emissions_employee_mean: 3355.0489247311825,
            occupation_green_timeshare_mean: 13.600000000000001,
            green_skills_count_mean: 0.005376344086021506,
            green_skill_percentage_mean: 0.00026881720430107527,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "Communication operators",
            industry_ghg_emissions_mean: 4158.2764705882355,
            industry_carbon_emissions_employee_mean: 15116.359999999999,
            occupation_green_timeshare_mean: 0.6,
            green_skills_count_mean: 0.4074074074074074,
            green_skill_percentage_mean: 0.04483581486166663,
            occ_green_non_green: "Green",
            occ_green_category: "Green Increased Demand",
          },
          {
            occupation: "Conservation professionals",
            industry_ghg_emissions_mean: 9587.204477611942,
            industry_carbon_emissions_employee_mean: 25258.329999999998,
            occupation_green_timeshare_mean: 57.09999999999999,
            green_skills_count_mean: 3.1789473684210527,
            green_skill_percentage_mean: 0.2108311751183519,
            occ_green_non_green: "Green",
            occ_green_category: "Green New & Emerging",
          },
          {
            occupation: "Construction and building trades n.e.c.",
            industry_ghg_emissions_mean: 4294.461363636364,
            industry_carbon_emissions_employee_mean: 17560.5,
            occupation_green_timeshare_mean: 22.1,
            green_skills_count_mean: 1.0476190476190477,
            green_skill_percentage_mean: 0.07729687597366852,
            occ_green_non_green: "Green",
            occ_green_category: "Green Increased Demand",
          },
          {
            occupation: "Construction project managers and related professionals",
            industry_ghg_emissions_mean: 7140.977586206896,
            industry_carbon_emissions_employee_mean: 37108.428859060405,
            occupation_green_timeshare_mean: 25.3,
            green_skills_count_mean: 0.9,
            green_skill_percentage_mean: 0.04369492141377762,
            occ_green_non_green: "Green",
            occ_green_category: "Green New & Emerging",
          },
          {
            occupation: "Credit controllers",
            industry_ghg_emissions_mean: 1851.8716216216217,
            industry_carbon_emissions_employee_mean: 6905.751315789474,
            occupation_green_timeshare_mean: 0.0,
            green_skills_count_mean: 0.14285714285714285,
            green_skill_percentage_mean: 0.0070493846251354665,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "Customer service managers",
            industry_ghg_emissions_mean: 5610.813636363637,
            industry_carbon_emissions_employee_mean: 26123.815714285713,
            occupation_green_timeshare_mean: 0.0,
            green_skills_count_mean: 0.5238095238095238,
            green_skill_percentage_mean: 0.02648834259536808,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "Customer service occupations n.e.c.",
            industry_ghg_emissions_mean: 3028.629328621908,
            industry_carbon_emissions_employee_mean: 24498.800604229607,
            occupation_green_timeshare_mean: 0.0,
            green_skills_count_mean: 0.15348837209302327,
            green_skill_percentage_mean: 0.010841824472204453,
            occ_green_non_green: "Green",
            occ_green_category: "Green Increased Demand",
          },
          {
            occupation: "Data analysts",
            industry_ghg_emissions_mean: 2276.840740740741,
            industry_carbon_emissions_employee_mean: 18428.423333333332,
            occupation_green_timeshare_mean: 9.8,
            green_skills_count_mean: 0.4943181818181818,
            green_skill_percentage_mean: 0.02379513261986382,
            occ_green_non_green: "Green",
            occ_green_category: "Green New & Emerging",
          },
          {
            occupation: "Data entry administrators",
            industry_ghg_emissions_mean: 4231.905882352941,
            industry_carbon_emissions_employee_mean: 38437.86111111111,
            occupation_green_timeshare_mean: 0.0,
            green_skills_count_mean: 0.42,
            green_skill_percentage_mean: 0.02423996108279366,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "Database administrators and web content technicians",
            industry_ghg_emissions_mean: 4255.03734939759,
            industry_carbon_emissions_employee_mean: 18081.242045454543,
            occupation_green_timeshare_mean: 0.0,
            green_skills_count_mean: 0.36363636363636365,
            green_skill_percentage_mean: 0.018357316235700687,
            occ_green_non_green: "Green",
            occ_green_category: "Green New & Emerging",
          },
          {
            occupation: "Delivery drivers and couriers",
            industry_ghg_emissions_mean: 7997.017213114755,
            industry_carbon_emissions_employee_mean: 29499.21133603239,
            occupation_green_timeshare_mean: 0.0,
            green_skills_count_mean: 0.024193548387096774,
            green_skill_percentage_mean: 0.0012352211356006421,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "Design occupations n.e.c.",
            industry_ghg_emissions_mean: 3900.764705882353,
            industry_carbon_emissions_employee_mean: 36991.45084745763,
            occupation_green_timeshare_mean: 0.0,
            green_skills_count_mean: 1.027972027972028,
            green_skill_percentage_mean: 0.0471210085614379,
            occ_green_non_green: "Green",
            occ_green_category: "Green Increased Demand",
          },
          {
            occupation: "Electrical and electronic trades n.e.c.",
            industry_ghg_emissions_mean: 9914.6875,
            industry_carbon_emissions_employee_mean: 45900.92195121951,
            occupation_green_timeshare_mean: 0.8,
            green_skills_count_mean: 0.1568627450980392,
            green_skill_percentage_mean: 0.011671269906564025,
            occ_green_non_green: "Green",
            occ_green_category: "Green Increased Demand",
          },
          {
            occupation: "Electrical engineers",
            industry_ghg_emissions_mean: 2414.1928853754944,
            industry_carbon_emissions_employee_mean: 38163.56021505376,
            occupation_green_timeshare_mean: 11.057142857142857,
            green_skills_count_mean: 1.0980392156862746,
            green_skill_percentage_mean: 0.07492283301971596,
            occ_green_non_green: "Green",
            occ_green_category: "Green Enhanced Skills",
          },
          {
            occupation:
              "Electrical service and maintenance mechanics and repairers",
            industry_ghg_emissions_mean: 5287.517777777777,
            industry_carbon_emissions_employee_mean: 54172.78431372549,
            occupation_green_timeshare_mean: 3.544642857142857,
            green_skills_count_mean: 0.6071428571428571,
            green_skill_percentage_mean: 0.03700766769775673,
            occ_green_non_green: "Green",
            occ_green_category: "Green Increased Demand",
          },
          {
            occupation: "Electricians and electrical fitters",
            industry_ghg_emissions_mean: 3484.7056818181813,
            industry_carbon_emissions_employee_mean: 61711.73209876543,
            occupation_green_timeshare_mean: 6.1000000000000005,
            green_skills_count_mean: 0.3901098901098901,
            green_skill_percentage_mean: 0.027875574994164657,
            occ_green_non_green: "Green",
            occ_green_category: "Green Increased Demand",
          },
          {
            occupation: "Elementary process plant occupations n.e.c.",
            industry_ghg_emissions_mean: 4834.265,
            industry_carbon_emissions_employee_mean: 42456.0,
            occupation_green_timeshare_mean: 9.1,
            green_skills_count_mean: 1.0151515151515151,
            green_skill_percentage_mean: 0.07800069348514324,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "Elementary storage supervisors",
            industry_ghg_emissions_mean: 8591.7640625,
            industry_carbon_emissions_employee_mean: 25820.690625,
            occupation_green_timeshare_mean: 33.300000000000004,
            green_skills_count_mean: 1.1527777777777777,
            green_skill_percentage_mean: 0.05680578374564078,
            occ_green_non_green: "Green",
            occ_green_category: "Green Increased Demand",
          },
          {
            occupation: "Engineering professionals n.e.c.",
            industry_ghg_emissions_mean: 2232.845512820513,
            industry_carbon_emissions_employee_mean: 38228.70849514563,
            occupation_green_timeshare_mean: 21.711999999999996,
            green_skills_count_mean: 1.6168421052631579,
            green_skill_percentage_mean: 0.104266452279244,
            occ_green_non_green: "Green",
            occ_green_category: "Green New & Emerging",
          },
          {
            occupation: "Engineering project managers and project engineers",
            industry_ghg_emissions_mean: 3349.196103896104,
            industry_carbon_emissions_employee_mean: 41477.93928571428,
            occupation_green_timeshare_mean: 21.099999999999998,
            green_skills_count_mean: 0.574468085106383,
            green_skill_percentage_mean: 0.026510840141645304,
            occ_green_non_green: "Green",
            occ_green_category: "Green New & Emerging",
          },
          {
            occupation: "Engineering technicians ",
            industry_ghg_emissions_mean: 5072.465671641791,
            industry_carbon_emissions_employee_mean: 45832.13258426966,
            occupation_green_timeshare_mean: 10.0,
            green_skills_count_mean: 0.7777777777777778,
            green_skill_percentage_mean: 0.06160212638424287,
            occ_green_non_green: "Green",
            occ_green_category: "Green Enhanced Skills",
          },
          {
            occupation: "Environment professionals",
            industry_ghg_emissions_mean: 3588.4925454545455,
            industry_carbon_emissions_employee_mean: 18448.11105583195,
            occupation_green_timeshare_mean: 62.309468223086895,
            green_skills_count_mean: 3.6701253782965844,
            green_skill_percentage_mean: 0.21327140162581865,
            occ_green_non_green: "Green",
            occ_green_category: "Green New & Emerging",
          },
          {
            occupation: "Estimators, valuers and assessors",
            industry_ghg_emissions_mean: 2207.9106666666667,
            industry_carbon_emissions_employee_mean: 35693.16589861751,
            occupation_green_timeshare_mean: 25.1,
            green_skills_count_mean: 1.393162393162393,
            green_skill_percentage_mean: 0.09117627764875383,
            occ_green_non_green: "Green",
            occ_green_category: "Green New & Emerging",
          },
          {
            occupation: "Events managers and organisers",
            industry_ghg_emissions_mean: 2426.4133928571428,
            industry_carbon_emissions_employee_mean: 14494.151694915254,
            occupation_green_timeshare_mean: 0.0,
            green_skills_count_mean: 0.5161290322580645,
            green_skill_percentage_mean: 0.022088455102387005,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "Finance and investment analysts and advisers",
            industry_ghg_emissions_mean: 923.328660436137,
            industry_carbon_emissions_employee_mean: 9558.275637393766,
            occupation_green_timeshare_mean: 3.0,
            green_skills_count_mean: 0.3955056179775281,
            green_skill_percentage_mean: 0.0209827434477032,
            occ_green_non_green: "Green",
            occ_green_category: "Green Enhanced Skills",
          },
          {
            occupation: "Financial accounts managers",
            industry_ghg_emissions_mean: 3440.454924242424,
            industry_carbon_emissions_employee_mean: 20603.65133333333,
            occupation_green_timeshare_mean: 0.059132420091324196,
            green_skills_count_mean: 0.4452054794520548,
            green_skill_percentage_mean: 0.021244956991359965,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "Financial administrative occupations n.e.c.",
            industry_ghg_emissions_mean: 2573.811965811966,
            industry_carbon_emissions_employee_mean: 12044.521969696969,
            occupation_green_timeshare_mean: 0.0,
            green_skills_count_mean: 0.2824858757062147,
            green_skill_percentage_mean: 0.014071299949385494,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "Financial and accounting technicians",
            industry_ghg_emissions_mean: 3580.004054054054,
            industry_carbon_emissions_employee_mean: 17579.475,
            occupation_green_timeshare_mean: 0.0,
            green_skills_count_mean: 0.2909090909090909,
            green_skill_percentage_mean: 0.016444763726278733,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "Financial managers and directors",
            industry_ghg_emissions_mean: 2305.602535211268,
            industry_carbon_emissions_employee_mean: 11668.7109375,
            occupation_green_timeshare_mean: 2.2410821643286574,
            green_skills_count_mean: 0.3867735470941884,
            green_skill_percentage_mean: 0.023585531719749395,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "Functional managers and directors n.e.c.",
            industry_ghg_emissions_mean: 2821.0695652173913,
            industry_carbon_emissions_employee_mean: 13825.110526315788,
            occupation_green_timeshare_mean: 27.174545454545456,
            green_skills_count_mean: 0.5727272727272728,
            green_skill_percentage_mean: 0.0356103491273321,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "Graphic and multimedia designers",
            industry_ghg_emissions_mean: 2794.9551282051284,
            industry_carbon_emissions_employee_mean: 23633.853086419753,
            occupation_green_timeshare_mean: 0.0,
            green_skills_count_mean: 0.21739130434782608,
            green_skill_percentage_mean: 0.01444208663139337,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "Health and safety managers and officers",
            industry_ghg_emissions_mean: 3727.6121338912135,
            industry_carbon_emissions_employee_mean: 33206.02380952381,
            occupation_green_timeshare_mean: 24.78952879581152,
            green_skills_count_mean: 3.243455497382199,
            green_skill_percentage_mean: 0.14395069488050533,
            occ_green_non_green: "Green",
            occ_green_category: "Green Increased Demand",
          },
          {
            occupation: "Housing officers",
            industry_ghg_emissions_mean: 2423.59375,
            industry_carbon_emissions_employee_mean: 6194.418333333333,
            occupation_green_timeshare_mean: 0.0,
            green_skills_count_mean: 0.36046511627906974,
            green_skill_percentage_mean: 0.017059319921802884,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "Human resource managers and directors",
            industry_ghg_emissions_mean: 3038.9482412060297,
            industry_carbon_emissions_employee_mean: 24900.81009174312,
            occupation_green_timeshare_mean: 0.0,
            green_skills_count_mean: 0.4523809523809524,
            green_skill_percentage_mean: 0.02629703003697138,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "Human resources administrative occupations",
            industry_ghg_emissions_mean: 2598.7263157894736,
            industry_carbon_emissions_employee_mean: 21819.725396825397,
            occupation_green_timeshare_mean: 0.0,
            green_skills_count_mean: 0.17721518987341772,
            green_skill_percentage_mean: 0.006626837359769136,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "Human resources and industrial relations officers",
            industry_ghg_emissions_mean: 2609.7247422680416,
            industry_carbon_emissions_employee_mean: 22432.735853658534,
            occupation_green_timeshare_mean: 0.0,
            green_skills_count_mean: 0.2504604051565378,
            green_skill_percentage_mean: 0.01697390577338959,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "IT business analysts, architects and systems designers",
            industry_ghg_emissions_mean: 3219.2307262569834,
            industry_carbon_emissions_employee_mean: 30630.483756345177,
            occupation_green_timeshare_mean: 0.0,
            green_skills_count_mean: 0.3654618473895582,
            green_skill_percentage_mean: 0.017048412796063027,
            occ_green_non_green: "Green",
            occ_green_category: "Green New & Emerging",
          },
          {
            occupation: "IT managers",
            industry_ghg_emissions_mean: 4488.951739130435,
            industry_carbon_emissions_employee_mean: 21639.63306122449,
            occupation_green_timeshare_mean: 0.0,
            green_skills_count_mean: 0.6549520766773163,
            green_skill_percentage_mean: 0.029823220618561297,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "IT operations technicians",
            industry_ghg_emissions_mean: 11917.193548387097,
            industry_carbon_emissions_employee_mean: 28106.061538461538,
            occupation_green_timeshare_mean: 0.0,
            green_skills_count_mean: 0.6842105263157895,
            green_skill_percentage_mean: 0.023065264881950546,
            occ_green_non_green: "Green",
            occ_green_category: "Green New & Emerging",
          },
          {
            occupation: "IT project managers",
            industry_ghg_emissions_mean: 2386.4876543209875,
            industry_carbon_emissions_employee_mean: 26020.166279069766,
            occupation_green_timeshare_mean: 0.0,
            green_skills_count_mean: 0.33043478260869563,
            green_skill_percentage_mean: 0.012926996541854002,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "IT quality and testing professionals",
            industry_ghg_emissions_mean: 1223.6257142857144,
            industry_carbon_emissions_employee_mean: 40654.80263157894,
            occupation_green_timeshare_mean: 6.93,
            green_skills_count_mean: 0.24,
            green_skill_percentage_mean: 0.017331590563788704,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "IT user support technicians",
            industry_ghg_emissions_mean: 4581.995934959349,
            industry_carbon_emissions_employee_mean: 25836.172794117647,
            occupation_green_timeshare_mean: 0.0,
            green_skills_count_mean: 0.43125,
            green_skill_percentage_mean: 0.023693498863162046,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "Information technology professionals n.e.c.",
            industry_ghg_emissions_mean: 1863.7990825688073,
            industry_carbon_emissions_employee_mean: 27908.133613445378,
            occupation_green_timeshare_mean: 0.0,
            green_skills_count_mean: 0.2753623188405797,
            green_skill_percentage_mean: 0.015106340640418941,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "Kitchen and catering assistants",
            industry_ghg_emissions_mean: 19117.469491525422,
            industry_carbon_emissions_employee_mean: 29546.907692307694,
            occupation_green_timeshare_mean: 0.0,
            green_skills_count_mean: 0.5180722891566265,
            green_skill_percentage_mean: 0.03456953511879096,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "Large goods vehicle drivers",
            industry_ghg_emissions_mean: 8376.708502024292,
            industry_carbon_emissions_employee_mean: 37259.45179282869,
            occupation_green_timeshare_mean: 12.16705882352941,
            green_skills_count_mean: 0.5843137254901961,
            green_skill_percentage_mean: 0.04107925271086531,
            occ_green_non_green: "Green",
            occ_green_category: "Green Enhanced Skills",
          },
          {
            occupation: "Legal associate professionals",
            industry_ghg_emissions_mean: 2313.2314285714288,
            industry_carbon_emissions_employee_mean: 11742.38028169014,
            occupation_green_timeshare_mean: 0.0,
            green_skills_count_mean: 0.5169491525423728,
            green_skill_percentage_mean: 0.024967709259776445,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "Legal professionals n.e.c.",
            industry_ghg_emissions_mean: 2196.508695652174,
            industry_carbon_emissions_employee_mean: 6898.307894736842,
            occupation_green_timeshare_mean: 1.0604395604395604,
            green_skills_count_mean: 0.2087912087912088,
            green_skill_percentage_mean: 0.013451482940632234,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "Leisure and sports managers",
            industry_ghg_emissions_mean: 4127.073684210526,
            industry_carbon_emissions_employee_mean: 9016.66,
            occupation_green_timeshare_mean: 42.3,
            green_skills_count_mean: 1.0192307692307692,
            green_skill_percentage_mean: 0.04465912912118223,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "Management consultants and business analysts",
            industry_ghg_emissions_mean: 2323.7180000000003,
            industry_carbon_emissions_employee_mean: 17413.087499999998,
            occupation_green_timeshare_mean: 3.8,
            green_skills_count_mean: 0.616822429906542,
            green_skill_percentage_mean: 0.03478261138793251,
            occ_green_non_green: "Green",
            occ_green_category: "Green New & Emerging",
          },
          {
            occupation: "Managers and directors in retail and wholesale",
            industry_ghg_emissions_mean: 7373.484615384616,
            industry_carbon_emissions_employee_mean: 24646.79705882353,
            occupation_green_timeshare_mean: 14.7,
            green_skills_count_mean: 0.379746835443038,
            green_skill_percentage_mean: 0.02560013738684784,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "Managers in logistics",
            industry_ghg_emissions_mean: 7212.525000000001,
            industry_carbon_emissions_employee_mean: 30208.917475728154,
            occupation_green_timeshare_mean: 20.8,
            green_skills_count_mean: 0.704225352112676,
            green_skill_percentage_mean: 0.028369822793687237,
            occ_green_non_green: "Green",
            occ_green_category: "Green New & Emerging",
          },
          {
            occupation: "Managers in storage and warehousing",
            industry_ghg_emissions_mean: 4486.176744186047,
            industry_carbon_emissions_employee_mean: 27410.237142857142,
            occupation_green_timeshare_mean: 21.81436464088398,
            green_skills_count_mean: 0.8011049723756906,
            green_skill_percentage_mean: 0.037041285579831766,
            occ_green_non_green: "Green",
            occ_green_category: "Green New & Emerging",
          },
          {
            occupation: "Managers in transport and distribution",
            industry_ghg_emissions_mean: 7231.901020408164,
            industry_carbon_emissions_employee_mean: 36892.80701754386,
            occupation_green_timeshare_mean: 22.362962962962964,
            green_skills_count_mean: 0.8962962962962963,
            green_skill_percentage_mean: 0.03757895720468512,
            occ_green_non_green: "Green",
            occ_green_category: "Green Enhanced Skills",
          },
          {
            occupation: "Marketing and commercial managers",
            industry_ghg_emissions_mean: 3575.2573170731703,
            industry_carbon_emissions_employee_mean: 20183.025988700567,
            occupation_green_timeshare_mean: 22.400000000000002,
            green_skills_count_mean: 0.33101851851851855,
            green_skill_percentage_mean: 0.01683477817510555,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "Marketing associate professionals",
            industry_ghg_emissions_mean: 3145.1470941883767,
            industry_carbon_emissions_employee_mean: 18609.619180633148,
            occupation_green_timeshare_mean: 0.0,
            green_skills_count_mean: 0.2852852852852853,
            green_skill_percentage_mean: 0.01942669313087801,
            occ_green_non_green: "Green",
            occ_green_category: "Green New & Emerging",
          },
          {
            occupation: "Marketing, sales and advertising directors",
            industry_ghg_emissions_mean: 3294.5923857868024,
            industry_carbon_emissions_employee_mean: 27356.211320754715,
            occupation_green_timeshare_mean: 31.171003717472118,
            green_skills_count_mean: 0.34572490706319703,
            green_skill_percentage_mean: 0.02590445305367544,
            occ_green_non_green: "Green",
            occ_green_category: "Green Enhanced Skills",
          },
          {
            occupation: "Mechanical engineers",
            industry_ghg_emissions_mean: 1823.9637362637363,
            industry_carbon_emissions_employee_mean: 38338.82323232323,
            occupation_green_timeshare_mean: 30.79280575539569,
            green_skills_count_mean: 0.6510791366906474,
            green_skill_percentage_mean: 0.05176600534711711,
            occ_green_non_green: "Green",
            occ_green_category: "Green Enhanced Skills",
          },
          {
            occupation: "Merchandisers ",
            industry_ghg_emissions_mean: 5766.103773584906,
            industry_carbon_emissions_employee_mean: 20653.463636363635,
            occupation_green_timeshare_mean: 3.1263157894736846,
            green_skills_count_mean: 0.21052631578947367,
            green_skill_percentage_mean: 0.009459048924750591,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "Metal working production and maintenance fitters",
            industry_ghg_emissions_mean: 4179.02531120332,
            industry_carbon_emissions_employee_mean: 43988.70877192982,
            occupation_green_timeshare_mean: 7.1,
            green_skills_count_mean: 0.6706948640483383,
            green_skill_percentage_mean: 0.037289625642902745,
            occ_green_non_green: "Green",
            occ_green_category: "Green Increased Demand",
          },
          {
            occupation: "Office managers",
            industry_ghg_emissions_mean: 3580.841095890411,
            industry_carbon_emissions_employee_mean: 21896.355,
            occupation_green_timeshare_mean: 28.799999999999997,
            green_skills_count_mean: 0.6875,
            green_skill_percentage_mean: 0.029197824190449587,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "Office supervisors",
            industry_ghg_emissions_mean: 5325.778481012659,
            industry_carbon_emissions_employee_mean: 27658.921176470587,
            occupation_green_timeshare_mean: 0.0,
            green_skills_count_mean: 0.6911764705882353,
            green_skill_percentage_mean: 0.031014175706928913,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "Other administrative occupations n.e.c.",
            industry_ghg_emissions_mean: 4066.8753807106596,
            industry_carbon_emissions_employee_mean: 23108.514908256882,
            occupation_green_timeshare_mean: 0.0,
            green_skills_count_mean: 0.5952813067150635,
            green_skill_percentage_mean: 0.030615070402698705,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "Other drivers and transport operatives n.e.c.",
            industry_ghg_emissions_mean: 16010.393333333335,
            industry_carbon_emissions_employee_mean: 36863.24927536232,
            occupation_green_timeshare_mean: 6.4,
            green_skills_count_mean: 1.1014492753623188,
            green_skill_percentage_mean: 0.05280152609446526,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "Other vocational and industrial trainers",
            industry_ghg_emissions_mean: 2792.714457831325,
            industry_carbon_emissions_employee_mean: 16583.03058823529,
            occupation_green_timeshare_mean: 13.200000000000001,
            green_skills_count_mean: 0.29457364341085274,
            green_skill_percentage_mean: 0.02695966812627311,
            occ_green_non_green: "Green",
            occ_green_category: "Green Enhanced Skills",
          },
          {
            occupation: "Pensions and insurance clerks and assistants",
            industry_ghg_emissions_mean: 581.10625,
            industry_carbon_emissions_employee_mean: 3924.079411764706,
            occupation_green_timeshare_mean: 0.0,
            green_skills_count_mean: 0.22535211267605634,
            green_skill_percentage_mean: 0.010488578838526724,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "Personal assistants and other secretaries",
            industry_ghg_emissions_mean: 2239.5232142857144,
            industry_carbon_emissions_employee_mean: 11261.104201680671,
            occupation_green_timeshare_mean: 0.0,
            green_skills_count_mean: 0.32098765432098764,
            green_skill_percentage_mean: 0.016537290511795404,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation:
              "Plumbers & heating and ventilating installers and repairers",
            industry_ghg_emissions_mean: 5622.191666666667,
            industry_carbon_emissions_employee_mean: 44865.49166666666,
            occupation_green_timeshare_mean: 35.6,
            green_skills_count_mean: 0.6774193548387096,
            green_skill_percentage_mean: 0.04642102596538711,
            occ_green_non_green: "Green",
            occ_green_category: "Green Enhanced Skills",
          },
          {
            occupation: "Production and process engineers",
            industry_ghg_emissions_mean: 2543.186075949367,
            industry_carbon_emissions_employee_mean: 61753.683809523805,
            occupation_green_timeshare_mean: 3.9,
            green_skills_count_mean: 0.68,
            green_skill_percentage_mean: 0.03530252848844658,
            occ_green_non_green: "Green",
            occ_green_category: "Green Increased Demand",
          },
          {
            occupation: "Production managers and directors in construction",
            industry_ghg_emissions_mean: 2713.0037037037036,
            industry_carbon_emissions_employee_mean: 19909.844339622643,
            occupation_green_timeshare_mean: 18.5,
            green_skills_count_mean: 1.1422924901185771,
            green_skill_percentage_mean: 0.05826534566626153,
            occ_green_non_green: "Green",
            occ_green_category: "Green Enhanced Skills",
          },
          {
            occupation: "Production managers and directors in manufacturing",
            industry_ghg_emissions_mean: 6450.496825396825,
            industry_carbon_emissions_employee_mean: 40367.922666666665,
            occupation_green_timeshare_mean: 66.7,
            green_skills_count_mean: 0.949748743718593,
            green_skill_percentage_mean: 0.04277636299434329,
            occ_green_non_green: "Green",
            occ_green_category: "Green Enhanced Skills",
          },
          {
            occupation: "Programmers and software development professionals ",
            industry_ghg_emissions_mean: 2721.4186612576063,
            industry_carbon_emissions_employee_mean: 35213.29139784946,
            occupation_green_timeshare_mean: 0.0,
            green_skills_count_mean: 0.25920471281296026,
            green_skill_percentage_mean: 0.01611443235740783,
            occ_green_non_green: "Green",
            occ_green_category: "Green Increased Demand",
          },
          {
            occupation: "Project support officers",
            industry_ghg_emissions_mean: 4398.306722689075,
            industry_carbon_emissions_employee_mean: 27082.18068965517,
            occupation_green_timeshare_mean: 8.415217391304349,
            green_skills_count_mean: 0.6684782608695652,
            green_skill_percentage_mean: 0.03532780828503213,
            occ_green_non_green: "Green",
            occ_green_category: "Green New & Emerging",
          },
          {
            occupation: "Property, housing and estate managers",
            industry_ghg_emissions_mean: 2552.2037333333333,
            industry_carbon_emissions_employee_mean: 11017.07270471464,
            occupation_green_timeshare_mean: 22.568539325842696,
            green_skills_count_mean: 1.747191011235955,
            green_skill_percentage_mean: 0.07991867286598124,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "Public relations and communications directors",
            industry_ghg_emissions_mean: 2593.5,
            industry_carbon_emissions_employee_mean: 17937.85135135135,
            occupation_green_timeshare_mean: 0.0,
            green_skills_count_mean: 0.22,
            green_skill_percentage_mean: 0.01651244953876533,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "Public relations professionals",
            industry_ghg_emissions_mean: 2433.442718446602,
            industry_carbon_emissions_employee_mean: 18361.481614349774,
            occupation_green_timeshare_mean: 16.1,
            green_skills_count_mean: 0.5335689045936396,
            green_skill_percentage_mean: 0.029149012463671607,
            occ_green_non_green: "Green",
            occ_green_category: "Green Enhanced Skills",
          },
          {
            occupation: "Public services associate professionals",
            industry_ghg_emissions_mean: 9334.644642857142,
            industry_carbon_emissions_employee_mean: 22166.486567164182,
            occupation_green_timeshare_mean: 6.3,
            green_skills_count_mean: 1.4222222222222223,
            green_skill_percentage_mean: 0.07676215620710712,
            occ_green_non_green: "Green",
            occ_green_category: "Green New & Emerging",
          },
          {
            occupation: "Purchasing managers and directors",
            industry_ghg_emissions_mean: 4889.371586715867,
            industry_carbon_emissions_employee_mean: 24899.37226027397,
            occupation_green_timeshare_mean: 20.8,
            green_skills_count_mean: 0.565989847715736,
            green_skill_percentage_mean: 0.030496105346758402,
            occ_green_non_green: "Green",
            occ_green_category: "Green New & Emerging",
          },
          {
            occupation: "Quality assurance and regulatory professionals",
            industry_ghg_emissions_mean: 3178.144635193133,
            industry_carbon_emissions_employee_mean: 25848.182835820895,
            occupation_green_timeshare_mean: 7.7,
            green_skills_count_mean: 1.086021505376344,
            green_skill_percentage_mean: 0.0538377390332806,
            occ_green_non_green: "Green",
            occ_green_category: "Green New & Emerging",
          },
          {
            occupation: "Quality assurance technicians ",
            industry_ghg_emissions_mean: 4835.732098765432,
            industry_carbon_emissions_employee_mean: 26713.699999999997,
            occupation_green_timeshare_mean: 13.100000000000001,
            green_skills_count_mean: 1.3142857142857143,
            green_skill_percentage_mean: 0.05491005573790221,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "Quality control and planning engineers",
            industry_ghg_emissions_mean: 2657.5019607843137,
            industry_carbon_emissions_employee_mean: 39637.00545454545,
            occupation_green_timeshare_mean: 23.1,
            green_skills_count_mean: 0.4782608695652174,
            green_skill_percentage_mean: 0.02189809562620726,
            occ_green_non_green: "Green",
            occ_green_category: "Green New & Emerging",
          },
          {
            occupation: "Quantity surveyors",
            industry_ghg_emissions_mean: 2944.9449152542375,
            industry_carbon_emissions_employee_mean: 16419.914285714287,
            occupation_green_timeshare_mean: 28.9,
            green_skills_count_mean: 0.39215686274509803,
            green_skill_percentage_mean: 0.021945444356295377,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "Receptionists",
            industry_ghg_emissions_mean: 3600.732352941177,
            industry_carbon_emissions_employee_mean: 16825.467567567564,
            occupation_green_timeshare_mean: 0.0,
            green_skills_count_mean: 0.42857142857142855,
            green_skill_percentage_mean: 0.022153548607213646,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "Records clerks and assistants",
            industry_ghg_emissions_mean: 3130.0260273972603,
            industry_carbon_emissions_employee_mean: 22737.349693251534,
            occupation_green_timeshare_mean: 0.1,
            green_skills_count_mean: 0.5753424657534246,
            green_skill_percentage_mean: 0.03282470090959528,
            occ_green_non_green: "Green",
            occ_green_category: "Green Increased Demand",
          },
          {
            occupation: "Research and development (R&D) managers ",
            industry_ghg_emissions_mean: 3159.5067307692307,
            industry_carbon_emissions_employee_mean: 20978.406194690266,
            occupation_green_timeshare_mean: 39.09290780141844,
            green_skills_count_mean: 0.624113475177305,
            green_skill_percentage_mean: 0.03001371919284845,
            occ_green_non_green: "Green",
            occ_green_category: "Green New & Emerging",
          },
          {
            occupation: "Road transport drivers n.e.c.",
            industry_ghg_emissions_mean: 5956.00064516129,
            industry_carbon_emissions_employee_mean: 17825.662820512818,
            occupation_green_timeshare_mean: 0.041025641025641026,
            green_skills_count_mean: 0.02564102564102564,
            green_skill_percentage_mean: 0.0020189568266491343,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "Sales accounts and business development managers",
            industry_ghg_emissions_mean: 4026.7561893203883,
            industry_carbon_emissions_employee_mean: 32466.7610864745,
            occupation_green_timeshare_mean: 22.32895467160037,
            green_skills_count_mean: 0.4421831637372803,
            green_skill_percentage_mean: 0.02681206686135782,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "Sales administrators",
            industry_ghg_emissions_mean: 1771.7385964912282,
            industry_carbon_emissions_employee_mean: 35097.02,
            occupation_green_timeshare_mean: 0.0,
            green_skills_count_mean: 0.34615384615384615,
            green_skill_percentage_mean: 0.020204742094572136,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "Sales and retail assistants",
            industry_ghg_emissions_mean: 5223.418181818181,
            industry_carbon_emissions_employee_mean: 30953.068493150684,
            occupation_green_timeshare_mean: 0.0,
            green_skills_count_mean: 0.8275862068965517,
            green_skill_percentage_mean: 0.055710250287961435,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "Sales supervisors - retail and wholesale ",
            industry_ghg_emissions_mean: 5481.497478991596,
            industry_carbon_emissions_employee_mean: 17707.73223140496,
            occupation_green_timeshare_mean: 0.0,
            green_skills_count_mean: 0.21212121212121213,
            green_skill_percentage_mean: 0.0071844338887662226,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "Science, engineering and production technicians n.e.c.",
            industry_ghg_emissions_mean: 11114.192500000001,
            industry_carbon_emissions_employee_mean: 38171.21,
            occupation_green_timeshare_mean: 11.799999999999999,
            green_skills_count_mean: 0.5,
            green_skill_percentage_mean: 0.0393306611428621,
            occ_green_non_green: "Green",
            occ_green_category: "Green Enhanced Skills",
          },
          {
            occupation: "Secondary education teaching professionals",
            industry_ghg_emissions_mean: 2520.3720930232557,
            industry_carbon_emissions_employee_mean: 2987.860465116279,
            occupation_green_timeshare_mean: 0.0,
            green_skills_count_mean: 0.4230769230769231,
            green_skill_percentage_mean: 0.039154045558844316,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation:
              "Senior officers in fire, ambulance, prison and related services",
            industry_ghg_emissions_mean: 2503.2625000000003,
            industry_carbon_emissions_employee_mean: 37797.74516129032,
            occupation_green_timeshare_mean: 45.300000000000004,
            green_skills_count_mean: 0.5245901639344263,
            green_skill_percentage_mean: 0.01675669379128243,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "Social services managers and directors",
            industry_ghg_emissions_mean: 4594.744230769231,
            industry_carbon_emissions_employee_mean: 11533.401923076923,
            occupation_green_timeshare_mean: 0.09866666666666667,
            green_skills_count_mean: 0.28,
            green_skill_percentage_mean: 0.02345387435644733,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "Stock control clerks and assistants",
            industry_ghg_emissions_mean: 6364.353921568627,
            industry_carbon_emissions_employee_mean: 36148.729245283015,
            occupation_green_timeshare_mean: 1.3,
            green_skills_count_mean: 0.6065573770491803,
            green_skill_percentage_mean: 0.025459710548035953,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "Telecoms and related network installers and repairers",
            industry_ghg_emissions_mean: 5693.163855421686,
            industry_carbon_emissions_employee_mean: 43799.16120689655,
            occupation_green_timeshare_mean: 1.4000000000000001,
            green_skills_count_mean: 0.56,
            green_skill_percentage_mean: 0.07016340613863833,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "Transport and distribution clerks and assistants",
            industry_ghg_emissions_mean: 12769.504166666668,
            industry_carbon_emissions_employee_mean: 39646.87189542484,
            occupation_green_timeshare_mean: 0.0,
            green_skills_count_mean: 0.6306818181818182,
            green_skill_percentage_mean: 0.034583892191456404,
            occ_green_non_green: "Green",
            occ_green_category: "Green Enhanced Skills",
          },
          {
            occupation: "Warehouse operatives",
            industry_ghg_emissions_mean: 7483.438926174497,
            industry_carbon_emissions_employee_mean: 26113.5,
            occupation_green_timeshare_mean: 33.300000000000004,
            green_skills_count_mean: 0.3556231003039514,
            green_skill_percentage_mean: 0.02219559131982919,
            occ_green_non_green: "Green",
            occ_green_category: "Green Increased Demand",
          },
          {
            occupation: "Waste disposal and environmental services managers",
            industry_ghg_emissions_mean: 7546.616326530612,
            industry_carbon_emissions_employee_mean: 22164.908000000003,
            occupation_green_timeshare_mean: 52.4,
            green_skills_count_mean: 2.5892857142857144,
            green_skill_percentage_mean: 0.13473787746330568,
            occ_green_non_green: "Green",
            occ_green_category: "Green New & Emerging",
          },
          {
            occupation: "Water and sewerage plant operatives",
            industry_ghg_emissions_mean: 14315.351724137932,
            industry_carbon_emissions_employee_mean: 19193.03448275862,
            occupation_green_timeshare_mean: 42.9,
            green_skills_count_mean: 1.5737704918032787,
            green_skill_percentage_mean: 0.06114201789863787,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "Welfare and housing associate professionals n.e.c.",
            industry_ghg_emissions_mean: 4643.337500000001,
            industry_carbon_emissions_employee_mean: 19087.760869565216,
            occupation_green_timeshare_mean: 1.2631578947368423,
            green_skills_count_mean: 0.6541353383458647,
            green_skill_percentage_mean: 0.0331481815208125,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
          {
            occupation: "Youth and community workers",
            industry_ghg_emissions_mean: 5189.463414634146,
            industry_carbon_emissions_employee_mean: 16856.648979591835,
            occupation_green_timeshare_mean: 0.0,
            green_skills_count_mean: 0.6153846153846154,
            green_skill_percentage_mean: 0.029809280142729107,
            occ_green_non_green: "Non-green",
            occ_green_category: "Non-Green",
          },
        ],
        "data-068aca23e76b2122dc52366b0ebe3f71": [
          {
            occupation: "Pensions and insurance clerks and assistants",
            industry_ghg_emissions_mean: 581.10625,
            green_skill_percentage_mean: 0.010488578838526724,
          },
          {
            occupation: "Finance and investment analysts and advisers",
            industry_ghg_emissions_mean: 923.328660436137,
            green_skill_percentage_mean: 0.0209827434477032,
          },
          {
            occupation: "IT quality and testing professionals",
            industry_ghg_emissions_mean: 1223.6257142857144,
            green_skill_percentage_mean: 0.017331590563788704,
          },
          {
            occupation: "Architects",
            industry_ghg_emissions_mean: 1393.7879999999998,
            green_skill_percentage_mean: 0.04826054132591436,
          },
          {
            occupation: "Collector salespersons and credit agents",
            industry_ghg_emissions_mean: 1487.6032608695652,
            green_skill_percentage_mean: 0.00026881720430107527,
          },
          {
            occupation:
              "Chartered architectural technologists, planning officers and consultants",
            industry_ghg_emissions_mean: 1535.317543859649,
            green_skill_percentage_mean: 0.05631730344235936,
          },
          {
            occupation: "Sales administrators",
            industry_ghg_emissions_mean: 1771.7385964912282,
            green_skill_percentage_mean: 0.020204742094572136,
          },
          {
            occupation: "Mechanical engineers",
            industry_ghg_emissions_mean: 1823.9637362637363,
            green_skill_percentage_mean: 0.05176600534711711,
          },
          {
            occupation: "Credit controllers",
            industry_ghg_emissions_mean: 1851.8716216216217,
            green_skill_percentage_mean: 0.0070493846251354665,
          },
          {
            occupation: "Information technology professionals n.e.c.",
            industry_ghg_emissions_mean: 1863.7990825688073,
            green_skill_percentage_mean: 0.015106340640418941,
          },
        ],
        "data-1b9420cc2779fb8e28a5ea18ea0a9645": [
          {
            occupation: "Kitchen and catering assistants",
            industry_ghg_emissions_mean: 19117.469491525422,
            green_skill_percentage_mean: 0.03456953511879096,
          },
          {
            occupation: "Chefs",
            industry_ghg_emissions_mean: 16470.204854368934,
            green_skill_percentage_mean: 0.05491806835145791,
          },
          {
            occupation: "Other drivers and transport operatives n.e.c.",
            industry_ghg_emissions_mean: 16010.393333333335,
            green_skill_percentage_mean: 0.05280152609446526,
          },
          {
            occupation: "Water and sewerage plant operatives",
            industry_ghg_emissions_mean: 14315.351724137932,
            green_skill_percentage_mean: 0.06114201789863787,
          },
          {
            occupation: "Transport and distribution clerks and assistants",
            industry_ghg_emissions_mean: 12769.504166666668,
            green_skill_percentage_mean: 0.034583892191456404,
          },
          {
            occupation: "IT operations technicians",
            industry_ghg_emissions_mean: 11917.193548387097,
            green_skill_percentage_mean: 0.023065264881950546,
          },
          {
            occupation: "Science, engineering and production technicians n.e.c.",
            industry_ghg_emissions_mean: 11114.192500000001,
            green_skill_percentage_mean: 0.0393306611428621,
          },
          {
            occupation: "Business sales executives",
            industry_ghg_emissions_mean: 10389.998245614035,
            green_skill_percentage_mean: 0.0181745622822299,
          },
          {
            occupation: "Electrical and electronic trades n.e.c.",
            industry_ghg_emissions_mean: 9914.6875,
            green_skill_percentage_mean: 0.011671269906564025,
          },
          {
            occupation: "Conservation professionals",
            industry_ghg_emissions_mean: 9587.204477611942,
            green_skill_percentage_mean: 0.2108311751183519,
          },
        ],
      },
    };
    var embedOpt = {"mode": "vega-lite"};

    function showError(el, error){
        el.innerHTML = ('<div style="color:red;">'
                        + '<p>JavaScript Error: ' + error.message + '</p>'
                        + "<p>This usually means there's a typo in your chart specification. "
                        + "See the javascript console for the full traceback.</p>"
                        + '</div>');
        throw error;
    }
    const el = document.getElementById('vis');
    vegaEmbed("#vis", spec, embedOpt)
      .catch(error => showError(el, error));
  })(vegaEmbed);

</script>
