<section class="container max-w-screen-lg mx-auto p-4">
  <h1 class="text-3xl font-bold my-5">Datasets used</h1>

  <h2 class="text-xl font-bold my-3">Green skills</h2>
  <ul class="list-disc">
    <li class="ml-5 mb-1">
      We use the ESCO Green Skills list, which is itself based on a definition from the European Centre for the Development of Vocational Training. The list can be found on <%= link_to "ESCO's website", 'https://esco.ec.europa.eu/en/about-esco/publications/publication/green-skills-and-knowledge-concepts-labelling-esco', class: 'link', target: '_blank', rel: 'noopener' %>.
    </li>
  </ul>

  <h2 class="text-xl font-bold my-3">Industries</h2>
  <ul class="list-disc">
    <li class="ml-5 mb-1">
      We use the <%= link_to 'Standard Industrial Classification of economic activities (SIC)', 'https://www.ons.gov.uk/methodology/classificationsandstandards/ukstandardindustrialclassificationofeconomicactivities/uksic2007', class: 'link', target: '_blank', rel: 'noopener' %>, which is published by the UK government.
    </li>
    <li class="ml-5 mb-1">
      The total greenhouse gas emissions by 2 digit SIC from the ONS website <%= link_to 'here', 'https://www.ons.gov.uk/economy/environmentalaccounts/datasets/ukenvironmentalaccountsatmosphericemissionsgreenhousegasemissionsbyeconomicsectorandgasunitedkingdom/current', class: 'link', target: '_blank', rel: 'noopener' %>.
    </li>
    <li class="ml-5 mb-1">
      The greenhouse gas emissions per unit of economic output by SIC from the ONS website <%= link_to 'here', 'https://www.ons.gov.uk/economy/environmentalaccounts/datasets/ukenvironmentalaccountsatmosphericemissionsgreenhousegasemissionsintensitybyeconomicsectorunitedkingdom/current', class: 'link', target: '_blank', rel: 'noopener' %>.
    </li>
    <li class="ml-5 mb-1">
      The ONS time spent on green tasks from <%= link_to 'here', 'https://www.ons.gov.uk/economy/environmentalaccounts/datasets/timespentongreentasks', class: 'link', target: '_blank', rel: 'noopener' %> - these are based off experimental estimates of the time spent doing green tasks, using task-level data from the US's <%= link_to 'O*NET database', 'https://www.onetcenter.org/overview.html', class: 'link', target: '_blank', rel: 'noopener' %>.
    </li>
  </ul>

  <h2 class="text-xl font-bold my-3">Occupations</h2>
  <ul class="list-disc">
    <li class="ml-5 mb-1">
      The ONS's emissions per employee by industry, United Kingdom, 2021 <%= link_to 'here', 'https://www.ons.gov.uk/economy/environmentalaccounts/datasets/emissionsperemployeeuk2015to2021', class: 'link', target: '_blank', rel: 'noopener' %>.
    </li>
    <li class="ml-5 mb-1">
      We use the <%= link_to 'Standard Occupation Classification', 'https://www.ons.gov.uk/methodology/classificationsandstandards/standardoccupationalclassificationsoc', class: 'link', target: '_blank', rel: 'noopener' %>, which is published by the ONS.
    </li>
    <li class="ml-5 mb-1">
      The Greater London Authority have mapped the
      <%= link_to 'O*NET green occupations codes', 'https://www.onetcenter.org/green/skills.html', class: 'link', target: '_blank', rel: 'noopener' %> to UK SOC. This data is available to download <%= link_to 'here', 'https://data.london.gov.uk/dataset/identifying-green-occupations-in-london?_gl=1%2a8t5yr7%2a_ga%2aNzIwMzA5OTAwLjE2ODE5NzgzODk.%2a_ga_PY4SWZN1RJ%2aMTY4MjQzNTQxNS4xLjAuMTY4MjQzNTQyMC41NS4wLjA.', class: 'link', target: '_blank', rel: 'noopener' %> and a description about its creation is <%= link_to 'here', 'https://www.london.gov.uk/business-and-economy-publications/identifying-green-occupations-london#useful-links', class: 'link', target: '_blank', rel: 'noopener' %>.
    </li>
    <li class="ml-5 mb-1">
      A dataset of the green time shares for each SOC code based off O*NET dataset. The data is available to download from the ONS website <%= link_to 'here', 'https://www.ons.gov.uk/economy/environmentalaccounts/datasets/estimatedtimespentongreentasksbyoccupationcode', class: 'link', target: '_blank', rel: 'noopener' %> with methodology <%= link_to 'here', 'https://www.ons.gov.uk/economy/environmentalaccounts/articles/developingamethodformeasuringtimespentongreentasks/march2022', class: 'link', target: '_blank', rel: 'noopener' %>.
    </li>
    <li class="ml-5 mb-8">
      The O*NET green topics per occupation dataset downloaded from <%= link_to 'here', 'https://www.onetonline.org/search/green_topics/', class: 'link', target: '_blank', rel: 'noopener' %>, the report describing this data can be found <%= link_to 'here', 'https://www.onetcenter.org/reports/Green_Topics.html', class: 'link', target: '_blank', rel: 'noopener' %>.
    </li>
  </ul>
</section>
