<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= "#{yield(:title)} | ".html_safe if content_for?(:title) %>Green Jobs Explorer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="stylesheet" href="https://ga.jspm.io/npm:choices.js@10.1.0/public/assets/styles/choices.min.css" />

    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body class="flex flex-col h-screen">
    <div class="container max-w-screen-lg mx-auto px-4 py-2">
      <div class="text-sm">
        <span class="text-brand-blue border border-brand-blue font-semibold px-2 py-0.5 rounded mr-1">Beta</span>

        This is a new service - <%= link_to 'provide feedback', 'mailto:info@nesta.org.uk?subject=Feedback - Green Jobs Tool' %> to help us improve it.
      </div>
    </div>
    <div class="bg-brand-a11green">
      <header class="container max-w-screen-lg mx-auto px-4 py-3">

        <nav class="flex flex-wrap justify-between items-center gap-3 font-bold text-lg text-white">
          <%= link_to root_path, class: 'flex gap-2 items-center no-underline leading-tight tracking-widest' do %>
            <svg width="34px" height="34px" viewBox="0 0 24 24" stroke-width="1.5" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000"><path d="M17 17L21 21" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M3 11C3 15.4183 6.58172 19 11 19C13.213 19 15.2161 18.1015 16.6644 16.6493C18.1077 15.2022 19 13.2053 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11Z" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
            <strong>Green Jobs<br> Explorer</strong>
          <% end %>

          <div class="flex gap-8 sm:w-auto w-full">
            <%= link_to 'Explore', occupations_path, class: 'no-underline hover:underline' %>
            <%= link_to 'Compare', compare_path, class: 'no-underline hover:underline' %>
            <%= link_to 'https://www.nesta.org.uk/project/measuring-green-jobs-and-skills/', target: '_blank', rel: 'noopener', class: 'no-underline hover:underline' do %>
              About
              <svg class="inline-block mb-1" width="18px" height="18px" viewBox="0 0 24 24" stroke-width="1.5" fill="none" xmlns="http://www.w3.org/2000/svg" color="#fff"><path d="M21 3L15 3M21 3L12 12M21 3V9" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M21 13V19C21 20.1046 20.1046 21 19 21H5C3.89543 21 3 20.1046 3 19V5C3 3.89543 3.89543 3 5 3H11" stroke="#fff" stroke-width="1.5" stroke-linecap="round"></path></svg>
            <% end %>
          </div>
        </nav>

        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </header>
    </div>

    <main class="flex-1">
      <%= yield %>
    </main>

    <footer class="text-sm text-stone-700 container max-w-screen-lg mx-auto px-4 py-6 border-t border-stone-300">
      <p class="mb-2">
        Developed by
        <%= link_to 'Nesta', 'https://www.nesta.org.uk/', taget: '_blank', rel: 'noopener' %>
        as part of our work on measuring green jobs and skills.
      </p>

      <div class="flex gap-3">
        <%= link_to 'Methodology', 'https://github.com/nestauk/dap_prinz_green_jobs/blob/dev/dap_prinz_green_jobs/pipeline/green_measures/README.md', target: '_blank', rel: 'noopener' %>
        &middot;
        <%= link_to 'Datasets used', sources_path %>
        &middot;
        <%= link_to 'Source code', 'https://github.com/nestauk/asf_green_jobs_site', target: '_blank', rel: 'noopener' %>
      </div>

    </footer>
  </body>
</html>
