<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= "#{yield(:title)} | ".html_safe if content_for?(:title) %>Green Jobs Explorer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="stylesheet" href="https://ga.jspm.io/npm:choices.js@10.1.0/public/assets/styles/choices.min.css" />
    <link rel="icon" type="image/x-icon" href="https://raw.githubusercontent.com/nestauk/asf_green_jobs_site/54ac94d221a99e99d1836e7e179965096d2cc488/public/gje_favicon.svg">
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-CSMHNJ2LL4" data-turbo-track= "reload"></script>
  <%= javascript_include_tag 'google-analytics' %>

  <body class="flex flex-col h-screen">
    <div class="bg-brand-sand fixed bottom-0 w-full">
      <div id="cookie-consent-banner" class="container max-w-screen-lg mx-auto px-4 py-2 text-center">
        Allow this site to use analytics cookies -
        <a href="#accept-analytics" id="accept-analytics">Accept</a>
        or
        <a href="#reject-analytics" id="reject-analytics">Reject</a>
      </div>
    </div>

    <div class="container max-w-screen-lg mx-auto px-4 py-2">
      <div class="text-sm">
        <span class="text-brand-blue border border-brand-blue font-semibold px-2 py-0.5 rounded mr-1">Beta</span>

        This is a new service - <%= link_to 'provide feedback', 'mailto:info@nesta.org.uk?subject=Feedback - Green Jobs Tool' %> to help us improve it.
      </div>
    </div>
    <div class="bg-brand-a11green">
      <header class="container max-w-screen-lg mx-auto px-4 py-3">

        <nav class="flex flex-wrap justify-between items-center gap-3 font-bold text-lg text-white">
          <%= link_to root_path, class: 'flex gap-2 items-center no-underline leading-tight tracking-widest' do %>
            <svg width="34px" height="34px" viewBox="0 0 24 24" stroke-width="1.5" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000"><path d="M17 17L21 21" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M3 11C3 15.4183 6.58172 19 11 19C13.213 19 15.2161 18.1015 16.6644 16.6493C18.1077 15.2022 19 13.2053 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11Z" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
            <strong>Green Jobs<br> Explorer</strong>
          <% end %>

          <div class="flex gap-8 sm:w-auto w-full">
            <%= link_to 'Explore', occupations_path, class: 'no-underline hover:underline' %>
            <%= link_to 'Compare', compare_path, class: 'no-underline hover:underline' %>
            <%= link_to 'https://www.nesta.org.uk/project/measuring-green-jobs-and-skills/', target: '_blank', rel: 'noopener', class: 'no-underline hover:underline' do %>
              About
              <svg class="inline-block mb-1" width="18px" height="18px" viewBox="0 0 24 24" stroke-width="1.5" fill="none" xmlns="http://www.w3.org/2000/svg" color="#fff"><path d="M21 3L15 3M21 3L12 12M21 3V9" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M21 13V19C21 20.1046 20.1046 21 19 21H5C3.89543 21 3 20.1046 3 19V5C3 3.89543 3.89543 3 5 3H11" stroke="#fff" stroke-width="1.5" stroke-linecap="round"></path></svg>
            <% end %>
          </div>
        </nav>

        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </header>
    </div>

    <main class="flex-1">
      <%= yield %>
    </main>

    <footer class="bg-brand-a11green text-white">
      <div class="container max-w-screen-lg mx-auto p-4 flex flex-wrap">
        <div class="w-full md:w-1/2 pr-0 md:pr-3 mb-5 md:mb-0 flex flex-col justify-end">
          Generously funded by ESRC as part of the
          <a href="https://www.prinzproject.io/" target="_blank" rel="noopener noreferrer">Productive and Inclusive Net Zero Research Project</a>
        </div>
        <div class="w-full md:w-1/2 pl-0 md:pl-3">
          <div class="flex">
            <div class="w-1/2 pr-5">
              <p class="mb-4">
                A website developed by
              </p>
              <%= image_tag 'nesta-logo-white.png', width: 180, alt: 'Nesta Logo in white' %>
            </div>
            <div class="w-1/2 flex flex-col gap-2 pl-5 border-l border-white">
              <p>
                <%= link_to 'About', 'https://www.nesta.org.uk/project/measuring-green-jobs-and-skills/', target: '_blank', rel: 'noopener', class: 'no-underline hover:underline' %>
              </p>
              <p>
                <%= link_to 'Methodology', 'https://github.com/nestauk/dap_prinz_green_jobs/blob/dev/dap_prinz_green_jobs/pipeline/green_measures/README.md', target: '_blank', rel: 'noopener', class: 'no-underline hover:underline' %>
              </p>
              <p>
                <%= link_to 'Datasets used', sources_path, class: 'no-underline hover:underline' %>
              </p>
              <p>
                <%= link_to 'Source code', 'https://github.com/nestauk/dap_prinz_green_jobs', target: '_blank', rel: 'noopener', class: 'no-underline hover:underline' %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
