<!DOCTYPE html>
<html>
  <head>
    <title><%= "#{yield(:title)} | ".html_safe if content_for?(:title) %>Green Jobs Explorer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="stylesheet" href="https://ga.jspm.io/npm:choices.js@10.1.0/public/assets/styles/choices.min.css" />

    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body class="flex flex-col h-screen">
    <header class="container max-w-screen-lg mx-auto px-4 pt-4 pb-2">
      <nav class="flex items-end gap-3">
        <strong><%= link_to 'Green Jobs Explorer', root_path, class: "text-lg" %></strong>
        &middot;
        <%= link_to 'Top green jobs', occupations_path %>
        &middot;
        <%= link_to 'About', 'https://www.nesta.org.uk/project/measuring-green-jobs-and-skills/', target: '_blank' %>
      </nav>

      <div class="mt-4 pt-2 border-t border-stone-300 text-sm">
        This is a new service - <%= link_to 'provide feedback', 'mailto:info@nesta.org.uk?subject=Feedback - Green Jobs Tool' %> to help us improve it.
      </div>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </header>

    <main class="flex-1">
      <%= yield %>
    </main>

    <footer class="text-sm text-stone-700 container max-w-screen-lg mx-auto px-4 py-6 border-t border-stone-300">
      <p class="mb-2">
        Developed by
        <%= link_to 'Nesta', 'https://www.nesta.org.uk/', taget: '_blank' %>
        as part of our work on measuring green jobs and skills.
      </p>

      <div class="flex gap-3">
        <%= link_to 'Methadology', 'https://github.com/nestauk/dap_prinz_green_jobs/tree/rerun_analysis/dap_prinz_green_jobs/pipeline/green_measures/industries/sic_mapper#%EF%B8%8F-methodology', target: '_blank' %>
        &middot;
        <%= link_to 'Datasets used', 'https://github.com/nestauk/dap_prinz_green_jobs/tree/dev/dap_prinz_green_jobs/pipeline/green_measures/industries#datasets-used', target: '_blank' %>
        &middot;
        <%= link_to 'Source code', 'https://github.com/nestauk/asf_green_jobs_site', target: '_blank' %>
      </div>

    </footer>
  </body>
</html>
